<div id="codeChallengeWrapper">

  <div id="codeWithUs">

    <div class="quote-box">
      <div class="quote">

        <img src="https://codechalleng.es/static/img/honors/unlock.png" class="ninja" alt="earn the White PyBites Ninja">
        <img src="https://codechalleng.es/static/img/honors/unlock_yellow.png" class="ninja" alt="earn the Yellow PyBites Ninja">
        <img src="https://codechalleng.es/static/img/honors/unlock_orange.png" class="ninja" alt="earn the Orange PyBites Ninja">
        <img src="https://codechalleng.es/static/img/right-arrow.png" class="ninja" alt="right arrow">
        <img src="https://codechalleng.es/static/img/honors/unlock_red.png" class="ninja" alt="earn more PyBites Ninja belts and certificates">

        <hr>

        <blockquote>
          The best way to learn to <strong>code in Python</strong> is to <strong><a href="https://pybit.es/learn-by-doing.html" target="_blank">actually use the language</a></strong>.
          <br><br>
          Our platform offers <strong>effective Test Driven Learning</strong> which will be key to your progress.
          <br><br><br>
          Join thousands of Pythonistas and start coding!

          <br><br><br>
          <a href="https://codechalleng.es/via/pybites" target="_blank"><img src="https://codechalleng.es/static/img/ghlogin.png" alt="Join us on our PyBites Platform"></a>
        </blockquote>
  
      </div>
    </div>

  </div>

  <button class="center mui-btn mui-btn--flat mui-btn--primary" onclick="document.getElementById('codeWithUs').classList.toggle('open');">
    Land a better Python job? Try our coding platform &raquo;
  </button>

</div><!-- end codeChallengeWrapper -->
