.hl-ipython3 pre {
  /* fix new theme + pygments + jupypter notebooks */
  background: #212223 !important;
}

.header-container {
  /* TODO
   * min-height: 220px;
  height: 220px; */
}

body.landingPage {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.42857143;
  background-color: #f2f2f2;
  color: #333;
  width: 100%;
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
}
body.landingPage h2, body.landingPage h3 {
  clear: both;
  margin-bottom: 20px;
}
body.landingPage #testimonials p {
  font-size: 85%;
}
body.landingPage .source {
  font-size: 70%; 
  clear: both;
  padding: 10px;
}
.buttonWrapper {
  margin-top: 20px;
  text-align: center;
}
.buttonWrapper a {
  margin: 10px;
}
.button {
  background-color: #ba9926;
  color: #fff !important;
  border: 1px solid #ccc;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 8px;
}
#workshopButton {
  background-color: #43ac6a;
  color: #ffffff;
  border: 1px solid #c8c8c8;
  cursor: pointer;
  margin-top: 10px;
  padding: 0 8px;
  border-radius: 5px;
  z-index: 999;
}
.ctaButton {
  background-color: #43ac6a;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #c8c8c8;
  font: bold 14px Arial;
  cursor: pointer;
  width: 400px;
  height: 60px;
  font-size: 120%;
  border-radius: 5px;
}
.vimeo-space {
  margin: 40px auto;
  padding: 56.25% 0 0 0;
  position: relative;
}

.header-nav {
  line-height: 30px;
}
.header-nav .nav  {
  margin: 20px;
  padding: 5px;
  font-size: 16px;
}
.header-nav .nav a {
  margin-left: 0px;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px 30px;
  z-index: 998;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f2122;
  border: 1px solid #303030;
  min-width: 220px;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 6px;
  z-index: 1;
}
.dropdown .dropdown-content a {
  border-bottom: 1px solid #181818;
  font-size: 14px;
}
.dropdown .dropdown-content a:hover {
  background: #900;
}
.dropdown:hover .dropdown-content {
  display: block;
  clear: both;
  padding: 0px;
  width: 200px;
}

.profilePic, .profilePicBig {
  float: left;
  padding: 8px;
  margin: 0 20px 0 0 !important;
  border-radius: 8px;
  border: 1px solid #ddd !important;
}
.profilePic {
  width: 150px !important;
}
.profilePicBig {
  width: 400px !important;
  margin: 0 30px 0 0 !important;
}
.inlineQuote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  font-style: italic;
}

#pbproducts {
  margin: 30px auto;
  border: 1px solid #ddd;
  padding: 0 20px;
  background: #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
}
#pbproducts #testimonials {
  width: 65%;
  float: left;
}
#pbproducts img {
  width: 30%;
  float: right;
  margin: 0 15px 0 0;
}
#pbproducts .button {
  background-color: #43ac6a;
  color: #ffffff !important;
  padding: 10px;
  border: 1px solid #c8c8c8;
  font-weight: bold;
  font-size: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 110%;
  padding: 5px 10px;
}
#pbproducts .buttonWrapper {
  margin-top: 30px;
}

/* override for small images that should not scale width */
.content .originalWidth img {
  width: auto !important;
}

.styledTable th, .styledTable td {
  padding: 5px;
  border: 1px solid #ddd;
}
