<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Strategy Session</title>
  <meta name="description" content="PyBites Strategy Session">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>How to improve your career with Python</h1>

  <p>Imagine for a second what Python fluency can do for you:</p>

  <p>
    <ol>
      <li>You will get <strong>more fulfillment</strong> out of your job knowing you are making a <strong>bigger contribution</strong>.</li>
      <li>You will have a <strong>higher paying job</strong> (or business).</li>
      <li>You will <strong>work anywhere</strong> you want and have <strong>flexible</strong> work hours.</li>
    </ol>
  </p>

  <p>These things have certainly come true for us using Python and they are within your reach too.</p>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Tell me how!</button>
  </p>

  <h2>If this is not a reality for you yet, why?</h2>

  <p>There are 4 common things holding people back from taking control of their careers using Python:</p>

  <p>
    <ol>
      <li>They are paralyzed by the amount of skills to learn and resources available to become a developer.</li>
      <li>They don't know what to work on so they don't tackle the <strong>bigger projects</strong> they'll need to grow as programmers.</li>
      <li>They lack the time and daily commitment.</li>
      <li>They think they don't deserve this, that they are not good enough (aka <strong>Imposter Syndrome</strong>).</li>
    </ol>
  </p>

  <p>And don't think it's just you, we've seen many people being crippled by one or more of these roadblocks.</p>

  <h2>Time to change your approach</h2>

  <p>Let's fix all of this! Since launching PyBites back in 2016 we've helped thousands of people with their Python and careers.</p>

  <p style="text-align: center;">
    <img src="https://pb-cc-avatars-private.s3.us-east-2.amazonaws.com/bob-and-julian-small.jpg" alt="Bob and Julian at Pycon" style="width: 100%; max-width: 400px !important; margin: 20px auto;">
  </p>

  <p>People working with us have landed new jobs, started contributing to open source, become lead developers and influencers in their work places (e.g. developers that know how to talk to management!)</p>

  <p>The good news is that it's easier than you might think. <strong>A successful career with Python is well within your reach</strong> and we want to show you how ...</p>

  <p>So <strong>book a strategy session with us</strong> and we will get you unstuck. These might actually be the best 45 min you'll spend talking about your career this year.</p>

  <p>Ah and by the way, this consult with us is totally <strong>free</strong>, so don't put it off:</p>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Get me unstuck!</button>
  </p>

  <h2>Some math</h2>

  <p>We are, first and foremost, passionate about coding, the Python language and its community.</p>

  <p>But in terms of what Python programmers earn, it's actually a <strong>great skill to invest in</strong>. Here are some numbers:</p>

  <br>
  <p style="text-align: center;">
    <img src="https://pb-cc-avatars-private.s3.us-east-2.amazonaws.com/average-salaries.png" alt="average Python dev salaries" class="profilePicBig" style="width: 100% !important; max-width: 700px !important;">
  </p>

  <p class="source">(source: DevSkiller.com)</p>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">I want to earn more!</button>
  </p>
  <br>

  <h1>Here is what people are saying</h1>

  <div id="testimonials">

    <h2>Robin B - Becoming a successful Python Developer at an Energy Startup</h2>

    <img src="https://pb-cc-avatars-private.s3.us-east-2.amazonaws.com/robin.jpeg" alt="meet Robin" class="profilePic">

    <p>The PyBites Developer Mindset Program has given me confidence and clarity in direction and allowed me to make life changing decisions regarding my career.</p>

    <p>Julian and Bob helped me see that I was underappreciated in my job and was wasting my time there.</p>

    <p>In a relatively short period of time I gained the Python and leadership skills, self-awareness and confidence I needed to become a successful Python developer / data scientist in an Energy Startup.</p>

    <h2>Alex K - Coded his Dream Project, Improved Python and Boosted Confidence</h2>

    <img src="https://pb-cc-avatars-private.s3.us-east-2.amazonaws.com/alex.jpeg" alt="meet Alex" class="profilePic">

    <p>I had reached a point where I did not want to continue coding. I was faced with a choice: stay on the same level and go slow or get started on the bigger projects I always wanted to build.</p>

    <p>I decided to do something bigger, but I did not know how to carry out the large parts of that project technically.</p>

    <p>The PyBites Developer Mindset Program helped me push my experience to collaborate, choose the right custom framework and formulate my project drafts using real software design principles.</p>

    <p>Julian and Bob not only guided me on what I needed to know but, as an unexpected bonus, taught me the skills and mindset I needed to be confident in myself and my coding ability.</p>

    <p>The improvements to my Python and newfound self-confidence made in just a few weeks would have undoubtedly taken me 10 years to achieve without the coaching in this program.</p>

    <h2>Ben M - Accelerate Your Progress and Confidence</h2>

    <div class="vimeo-space" style="padding: 56.25% 0 0 0; position: relative;">
      <iframe src="https://player.vimeo.com/video/404595902" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <p class="buttonWrapper">
      <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Book me in now!</button>
    </p>

    <h2>Piotr R - Becoming a Confident Django Web Developer</h2>

    <img src="https://pb-cc-avatars-private.s3.us-east-2.amazonaws.com/piotr.jpeg" alt="meet Piotr" class="profilePic">

    <p>I seriously improved my coding and software design skills through the PyBites Developer Mindset Program.</p>

    <p>My biggest win was building 2 real world Django web apps from scratch (I was new to this framework), getting them to work end-to-end, then deploying them to Heroku.</p>

    <p>The way we collaborated on Github as developers gave me a constant push and motivation to up my game. Sometimes I got uncomfortable but that was when I actually learned the most.</p>

    <p>The skills I learned through this program seriously boosted my confidence and put me on the map to land a software developer job, which is taking my career to the next level (I'm now interviewing!)</p>

    <h2>Punit J - Becoming an Open Source Contributor</h2>

    <img src="https://pb-cc-avatars-private.s3.us-east-2.amazonaws.com/punit.jpeg" alt="meet Punit" class="profilePic">

    <p>PyBites Developer Mindset has given me the technical knowledge, methodologies and confidence to pursue a career as a developer and contribute to open source.</p>

    <p>This is something I always wanted to do but never knew where to start. The confidence I gained by building actual web applications allowed me to reach out to other developers and start contributing to an important open source project.</p>

    <h2>Daniel S - From Newbie to Confident Pythonista</h2>

    <img src="https://pb-cc-avatars-private.s3.us-east-2.amazonaws.com/daniel.jpeg" alt="meet Daniel" class="profilePic">

    <p>When I started the PyBites Developer Mindset Program I was a total newbie. When I saw people programming "like pros" on YouTube, I felt I would never be able to code like them.</p>

    <p>Throughout the program though, I got up-to-speed with Python in record time. More importantly I became a critical thinker, developing a 360º view of my coding skills and how I could become more valuable to my current employer and the market.</p>

    <p class="buttonWrapper">
      <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Become a Python Developer!</button>
    </p>
    <br><br>
  </div>

  <script src="https://player.vimeo.com/api/player.js"></script>
  <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>

</body>
</html>
