<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites | Black Friday 2020</title>
  <meta name="description" content="PyBites | Black Friday 2020">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
  <style>
  body.landingPage {
    background-color: #fff;
  }
  body.landingPage::after {
      content: "";
      background-image: url(https://pybites-tips.s3.eu-central-1.amazonaws.com/pybites-circuit-bg.jpg);
      background-size: cover;
      opacity: 0.05;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
  }
  .ctaButton {
    width: 380px;
    font-size: 107%;
    float: left;
  }
  .firstButton {
    margin: 0 20px 20px 0;
  }
  .buttonWrapper {
    margin-bottom: 50px;
  }
  </style>
</head>

<body class="landingPage">
  <h1>PyBites Celebrates Thanksgiving 2020 With You</h1>

  <h2>First off all ...</h2>

  <p>If you have been following us for a while, coded with us, chatted or even spoken with us, THANK YOU! We are grateful for where PyBites is today and it would NOT be the same without you.</p>

  <p>Thousands of Pythonistas have improved their skills through our materials and this wouldn't have been possible if it were not for your constant inputs and wisdom, so again, <strong>thank you</strong>!</p>

  <p>As we like to give back we have two great promos you don't want to miss out on, including a sweet bonus we hope you'll enjoy ...</p>

  <h2>1. Introductory Bites Course</h2>

  <p>This <strong>Python Introductory Pack</strong> will give you all the basics to start <strong>writing your own scripts</strong> using Python. It includes:

  <p>A hands-on <strong>video course</strong> explaining how to solve our 10 Introductory Bites.</p>

  <p>Our <strong>25 Newbie Bite bundle</strong> which teaches you the fundamental building blocks of Python.</p>

  <p>At the end you'll have earned your first Ninja Belt and Beginner Certificate and you will be ready to start solving the regular Bite exercises.</p>

  <p>Already active on the platform? This is a great opportunity to buy it <strong>as a gift</strong> for a friend or family member that can use some Python as a way to say THANKS!</p>

  <p><i>"PyBites was very challenging when I first started.  ... I can honestly say that the platform took me from beginner knowledge to intermediate. I definitely recommend it to anyone who would like to stretch their limits." - Daniel W</i></p>

  <p><strong>Get it for a 70% discount: <strike>$50</strike> $15 USD</strong><i>
    <br><br>(This offer expires end of the 30th of November.)</i></p>

  <p class="buttonWrapper">
    <button class="ctaButton" onclick="location.href='https://members.pybit.es/offers/mfFWRKHG?coupon_code=BLACKFRIDAY2020';">Buy this course (own it forever)</button>
  </p>
  <br><br>

  <h2>2. PyBites Platform Premium+ Access</h2>

  <p>Get <strong>2 months</strong> of full access to our collection of <strong>300+ Python exercises</strong>, including access to <strong>2 Coding Conference Calls</strong> (the 2 consecutive months start from the moment you register the obtained license key).</p>

  <p>In these <strong>live group calls</strong> we help you resolve any roadblocks you'll hit with the Bite exercises (through questions you submit beforehand).</p>

  <p>Not only will we teach <strong>Python concepts and best practices</strong>, you will also learn important <strong>developer skills</strong> like <strong>debugging</strong> and <strong>refactoring</strong>.</p>

  <p>Lastly, this is a <strong>great environment</strong> to build out your network with like minded people. These are relationships that might lead to your next Open Source project ...</p>
  
  <p><i>"These exercises are not merely puzzles that you solve in Python. In contrast to many other coding challenge platforms, these are real world problems you would face while learning Python and building apps. ... I see immeasurable value from this platform, and it is worth every cent many times over." - Pavan R</i></p>

  <p><strong>Get it for 70% off: <strike>$80</strike> $24 USD</strong><i>
    <br><br>(This offer expires end of the 30th of November.)</i></p>

  <p class="buttonWrapper">
    <button class="ctaButton" onclick="location.href='https://gumroad.com/l/pbbf-2020';">Buy Premium+ (2 months)</button>
  </p>
  <br><br>

  <h2>3. A dose of mindset and inspiration</h2>

  <p>We would not be PyBites if we limited our offer to Python only. We want to give you a healthy dose of mindset / productivity as well!</p>

  <p>For this reason 10 lucky people will also receive one of the books that has inspired us the most.</p>

  <p>To be in the running, simply purchase one or both of the above products and you'll go into the draw to win. If you are among the winners, you get to choose which of the books you want!  (Please note, there's no additional entry for buying both products).</p>

  <p>We'll be picking 10 people at random when the deal comes to a close at the end of 30th November 2020.</p>

  <br><br><br>

</body>
</html>
