<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Developer Workshop</title>
  <meta name="description" content="PyBites Developer Workshop">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>PyBites Developer Workshop</h1>

  <p>Do you want to get serious with Python?</p>

  <p>Do you want to <strong>build complete real world applications</strong> and learn all the necessary skills to flourish as a developer?</p>

  <p>If so, watch this 6 minute workshop where we show you the <i>PyBites approach</i> to gaining those essential career (and life) skills. Hint: it requires more than just Python!</p>

  <p>If this resonates with you, take action and <strong>book a call</strong> with us to discuss how we can help you get to your desired goal.</p>

  <div class="vimeo-space">
    <iframe src="https://player.vimeo.com/video/418902016" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p>Python is widespread and a wise career choice. The related dev skills are all learnable if you put in the effort. It's well within your reach.</p>

  <p>Time to build some awesome apps and give back to this awesome community ...</p>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Book a Strategy Session</button>
  </p>

  <script src="https://player.vimeo.com/api/player.js"></script>
  <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '767652523960315');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=767652523960315&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</body>
</html>
