<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Community</title>
  <meta name="description" content="PyBites Community">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>Join the Most Welcoming and Engaging Python Community on the Planet</h1>

  <p><i>The PyBites Slack Channel is an excellent example of how friendly the Python community is. The founders, Bob and Julian, took the time to reach out to me and to chat with me. I felt very welcome as a fresh Pythonista. - Sophia B</i></p>

  <p>Learning by yourself can be <strong>lonely</strong>. Getting badly stuck on a Bite exercise can be excruciating.</p>

  <p>But it does not have to be like that. Join our <strong>PyBites Community</strong>:
    <ul>
      <li>Meet the most amazing Pythonistas and human beings.</li>
      <li>Hone in on top notch Python, coding and software conversations. You will learn a lot.</li>
      <li>Get help instantly, but we urge you to NOT spoil Bite solutions respecting our IP and other people coding them.</li>
      <li>Sharing is caring, we have a WINS channel where people get super exciting sharing and celebrating their and other's wins.</li>
      <li>Engaging with other developers you will grow a lot, get out there!</li>
      <li>Web dev, data science, opensource, devops, books, there are many many channels you can join ...</li>
      <li>You'll meet such friendly folks in a casual environment. It's truly amazing.</li>
    </ul>
  </p>
  
  <p><img src="https://pybites-screenshots.s3.eu-west-3.amazonaws.com/win-example.png" alt="somebody sharing an amazing win on our Slack" style="width: 800px;"></p>

  <p><i>The slack community is an invaluable resource, everyone tries to help one another, anyway they can. We all need help, some time or the other, I know I did. I was stuck somewhere, I posted about it and someone helped me regain my confidence. - Samuel U</i></p>

  <p>As Jim Rohn said: "Success leaves clues", well here you'll get quite a few and totally free (yes, this is so valuable we could be charging for this, but we don't because first and foremost we want to help you!)</p>

  <p>Again, you don't have to go at it alone. Join below and meet some of the most awesome Pythonistas in the industry ...</p>

  <p><i>The PyBites Slack Community is now like a second family to me. I now know some of the people on this community better then work colleagues who I've shared an office with for 15 years.  - David C.</i></p>

  <p>We hope to salute you soon!</p>

  <p>- Bob and Julian (PyBites)</p>

  <p class="buttonWrapper">
    <a href="https://join.slack.com/t/pybites/shared_invite/zt-9t8jjqy9-_S4YRGonpBt4u0b_MaPkqw" class="button" target="_blank">Join our Slack Community</a>
  </p>

  <p>If for some reason this link stops working, please <strong><a href="mailto:support@pybit.es">email us</a></strong> and we will happily add you manually.</p>

</body>
</html>
