<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Confidence Training</title>
  <meta name="description" content="PyBites Confidence Training">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>Is Imposter Syndrome Holding You Back?</h1>

  <p>Imposter Syndrome, a fancy term for a lack of confidence, is real. And it is likely to stick with you even if you're an experienced developer.</p>

  <p>But, as you'll soon find out, that is perfectly fine.</p>

  <p>Like any complex skill, confidence can be learned and earned.</p>

  <p>Seeing people struggle with this, and the pain it causes (for example when entering or even before submitting a <strong>code review</strong>), we produced the following training to start framing this fear in the right way.</p>

  <div class="vimeo-space">
    <iframe src="https://player.vimeo.com/video/457835871" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p class="buttonWrapper">
    <a href="https://forms.gle/oUPLpVfMHWmZov3v9" target="_blank" class="button">Work With Us</a>
  </p>

  <script src="https://player.vimeo.com/api/player.js"></script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '204929054292880');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=204929054292880&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</body>
</html>
