<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Consejos de Python</title>
  <meta name="description" content="PyBites Consejos de Python">
  <meta name="author" content="PyBites">

  <meta name="twitter:card" content="PyBites Consejos de Python" />
  <meta name="twitter:site" content="@pybites" />
  <meta name="twitter:creator" content="@pybites" />

  <meta property="og:url" content="https://pybit.es/consejos" />
  <meta property="og:title" content="PyBites Consejos de Python" />
  <meta property="og:description" content="Pythonista, ¿Cuántos consejos de Python sabes? PyBites presenta 100 consejos de Python contundentes que te harán mejorar como desarrollador." />
  <meta property="og:image" content="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-3d-book-cover.png" />

  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
  <style>
  body.landingPage {
    background-color: #fff;
  }

  body.landingPage::after {
      content: "";
      background-image: url(https://pybites-tips.s3.eu-central-1.amazonaws.com/pybites-circuit-bg.jpg);
      background-size: cover;
      opacity: 0.05;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
  }
  </style>
</head>

<body class="landingPage">
  <h1>100 Consejos de Python Que Te Hará Mejor Desarrollador Instantáneamente</h1>

  <h2>Pythonista, ¿cuántos consejos de Python realmente sabes?</h2>

  <p>¿Estás cansado de leer el sinfín de tutoriales perdiendo el interés cuando llegas al código o la esencia de lo que estás aprendiendo?</p>

  <p>¿Estás abrumado de lo rico que es el lenguaje de Python y lo difícil que es aprender todas los matices?</p>

  <p>¿Te preguntas cómo escribir código que es más elegante, mantenible y <i>Pythonic</i>?</p>

  <p>¡Esto sí nos pasó a nosotros cuando empezamos a aprender Python!</p>

  <p>A pesar de su profundidad y alto nivel técnico, Python también es un lenguaje altamente accesible. Este contraste puede confundir a la hora de hacer las cosas <i>a la manera Python</i>.</p>

  <p>No obstante, tenemos una solución para todo esto. Sigue leyendo ... o simplemente compra el libro ;)</p>

  <h3>Entra ...</h3>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-3d-book-cover.png" alt="PyBites Tips book" style="width: 100%; max-width: 800px !important; margin: -80px auto -40px auto;">
  </p>

  <p>Este libro contiene pequeños fragmentos de código Python que <strong>aumentarán tus conocimientos del lenguaje</strong>.</p>

  <p class="buttonWrapper">
    <button class="ctaButton" onclick="location.href='https://gum.co/pbtips';">Compra el libro</button>
    <br><br>
  </p>

  <p>Pronto nos dimos cuenta de que, si quieres ser un buen programador, hay que leer y escribir mucho código.</p>

  <p>Por tanto, hemos compilado 4 años de PyBites en una colección rica de consejos que son reveladores, prácticos, divertidos y presentados de tal forma de que puedas usarlos en tus programas inmediatamente.</p>

  <p>Probablemente hayas visto algunos de estos consejos en los medios sociales los últimos años. Han ayudado a millares de personas en todo el mundo a mejorar sus habilidades en Python, por lo cual sabemos que son buenos.</p>

  <p>Estos consejos han recordado a los desarrolladores de cómo hacer las cosas de manera Python y por qué Python es un lenguaje tan bueno.</p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-davidc.png" alt="Learn how to code Pythonically" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <h3>¿Qué encuentras dentro?</h3>

  <p>Un tour rapido.</p>

  <p>Primeramente, puedes consumir el libro en cualquier orden. Simplemente elige los temas que quieres aprender o necesitas ahora.</p>

  <p><strong>Siempre intentamos luchar contra la <i>parálisis del tutorial</i> que vemos tan a menudo en nuestra industria. Estos NO es la experiencia que queremos que tengas con nosotros.</strong></p>

  <h4>Construir diccionarios</h4>
  
  <p>Ve a la página 14 y aprenderás cómo construir un diccionario de 2 <i>iterables</i> (<i>uno de nuestros trucos favoritos</i>).</p>

  <h4>Opciones de sorteo potentes</h4>

  <p>En la página 19 descubrirás cómo sortear cualquier secuencia con un invocable (<i>callable</i>) que definas. Tus habilidades de sortear ya no serán las mismas (<i>cuando Julian sueña con código Pythonic, seguramente será con este sorteo elegante</i>).</p>

  <h4>Análisis de sentimiento</h4>

  <p>En la página 26 aprenderás un módulo interesante para hacer análisis de sentimiento sobre tweets.</p>

  <p>Sí, estos consejos van mucho más allá de la biblioteca estándar de Python. Incluso aprenderás algo de Django.</p>

  <h4>Funciones built-in que querrás saber</h4>

  <p>Te mostraremos muchas funciones <i>built-in</i> (que vienen con Python) que facilitarán tu vida y mejorarán tu código.</p>

  <p>Vete a la página 30 y conocerás dos elegantes funciones: <code>any</code> y <code>all</code>.</p>

  <h4>Obtener ayuda</h4>

  <p>En la página 36 te mostramos cómo inspeccionar objetos en Python, indispensable para cualquier desarrollador de Python.</p>

  <h4>Itertools</h4>

  <p>Empezando la página 40 encontrarás dos recetas para hacer un iterador infinito y como obtener todas las combinaciones de una lista de amigos.</p>

  <h4>¿Qué pasa con __main__?</h4>

  <p>También nos importan los Pythonistas más nuevos.</p>

  <p>Si aún te preguntas de qué va <code>if __name__ == "__main__"</code>, te tenemos cubierto en la página 57.</p>

  <h4>Técnicas OOP</h4>

  <p>Hablando con la gente nos dice a menudo que OOP (la programación orientada a objetos) es LA magia que necesita para ser fluido en Python. Y en parte, tiene razón.</p>

  <p>Tenemos varios consejos que cubren esto. En la página 49 verás que todo en Python es un objeto (<i>esto persigue a Bob en sus sueños, en el buen sentido</i>).</p>

  <p>En las páginas 61 y 99 hablaremos sobre representación de objetos y como ayuda en depurar tu código.</p>

  <p>OOP está en todas partes del lenguaje y en la página 66 conocerás una constructora alternativa del <code>dict</code>.</p>

  <p>O ¿qué te parecen los métodos robustos del <code>Path</code> (<code>pathlib</code>)? Los verás en acción en la página 69?</p>

  <p>En la página 83 aprenderás sobre <code>callable</code> y <code>getattr</code> funciones built-in, y en la página 98 conocerás <code>attrgetter</code> (<code>operator</code>).</p>

  <p>Finalmente, busca en <i>class</i> y encontrarás bastantes ...</p>

  <p>Esperamos que esto cubra OOP suficientemente para empezar ;)</p>

  <h4>Herramientas</h4>

  <p>Vamos más allá de Python mostrando algunas herramientas potentes.</p>

  <p>Ve a la página 70 para usar <code>json.tool</code> para validar JSON.</p>

  <p>En la página 71 creamos una imagen GIF usando la librería <code>imageio</code>.</p>

  <p>Después, en la página 78, aprenderás sobre una herramienta buenísima llamada <code>howdoi</code> que te permite buscar fragmentos de código desde la línea de comandos.</p>

  <p>Y por último, en la página 109 hablaremos de <code>django-extensions</code>.</p>

  <h4>Como __all__ te puede salvar ...</h4>

  <p>También pensamos en los desarrolladores que escriben módulos.</p>

  <p>En la página 88 aprenderás una técnica para encapsular tu código para evitar que alguien que haga <code>import *</code> esté expuesto a demasiado código tuyo ...</p>

  <h4>Técnicas de testeo robustas</h4>

  <p>Nos importa escribir código de prueba por lo cual también encontrarás <code>pytest</code> / consejos relacionados al testing:</p>

  <ul>
    <li>En la página 92 aprenderás cómo hacer tu código de prueba menos DRY (<i>don't repeat yourself</i> o: no te repitas)</li>
    <li>En la página 93 te enseñamos cómo <i>mockear</i> llamadas a servicios web en tus pruebas (similarmente en la página 47 aprenderás cómo <i>cachearlas</i>).</li>
    <li>En la página 100 aprenderás sobre el método <code>assert_called_with</code>.</li>
    <li>En la página 101 vas a acceder al string de una excepción captada por <code>pytest.raises</code>.</li>
    <li>Y, en la página 106 vamos a testear objetos <code>datetime</code>.</li>
  </ul>

  <h4>Métodos de datetime útiles</h4>

  <p>Y hablando de <i>datetime</i>, en la página 53 miraremos al módulo <code>calendar</code> que nos ayudó mucho cuando hicimos nuestro calendario (Seinfeld) de <i>racha de programar</i> en nuestra plataforma.</p>

  <p>Aprenderás sobre el análisis difuso (<i>fuzzy parsing</i>) usando el módulo potente <code>dateutil</code> en la página 96.</p>

  <p>Y también sabrás como Python te puede ayudar a determinar qué día de la semana, y qué semana del año vivimos (páginas 110 y 111).</p>

  <hr>

  <p>Leyendo todo lo anterior, esperamos que estés de acuerdo que hay mucho para aprender.</p>

  <p>De hecho, estamos positivamente sorprendidos, que pudiéramos encajar todo esto en solamente 118 páginas!</p>

  <p>Y como nuestros consejos son tan prácticos, <strong>no podemos esperar verte aplicar lo aprendido en tu código</strong>.</p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-example2.png" alt="Learn how to code Pythonically" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <h3>Ejercicios</h3>

  <p>Y esto nos trae a la parte del ejercicio.</p>

  <p>Hemos vinculado algunos de nuestros ejercicios (de nuestra plataforma) donde aplique.</p>

  <p>Recuerda: <strong>la retención de información incrementa 3-5X si lo ponemos en práctica</strong>.</p>

  <p>Incluso recomendamos que enseñes lo que aprendes aquí para beneficiarte de una retención de hasta 10 veces!</p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-example.png" alt="The tips have matching exercises to put into practice what you've just learned" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <h3>Cómo nuestra comunidad experimenta nuestros consejos</h3>

  <p>Nuestros consejos son aclamados por la comunidad de Python en todo el mundo. Cree que son reveladores, útiles, perspicaces, <i>Pythonic</i>, prácticos (los consejos son aplicables inmediatamente), y divertidos.</p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-chrisw.png" alt="Our tips are well received by our community" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <p>Alguien hasta dijo que eran las cerezas sobre el pastel (de nuestra plataforma). 🍰</p>

  <p>El consenso general es que la gente se vuelve mejor Pythonista exponiéndose a nuestros consejos!</p>

  <h3>Pruébalo tú mismo, a nuestro riesgo</h3>

  <p>Estamos tan convencidos de este libro y el oro que encuentras dentro, que estamos dispuestos a asumir todo el riesgo.</p>

  <p>Si después de leerlo, no has aprendido al menos 1 o 2 cosas nuevas (dentro de 30 días después de la compra), <strong>reembolsamos el precio completo del libro</strong>. Sin preguntas <i>Y</i> el libro te lo quedas.</p>

  <h3>Recibe futuras actualizaciones</h3>

  <p>¡Pero aun hay más!</p>

  <p>¡Vas a recibir más consejos los meses que vienen!</p>

  <p>Aunque la colección actual de 100 consejos ya es muy profunda y seguramente subirá tu nivel de Python, comprando este producto encerrarás futuras actualizaciones, incluso cuando el precio incrementa.</p>

  <p>Por tu inversión de $4.99 USD hoy, acabarás teniendo por lo menos <strong>300 consejos de calidad</strong> durante la vida de este libro. En cuanto añadamos más consejos el precio subirá, por tanto aprovecha este precio de introducción, recibiendo con el tiempo todos los futuros consejos.</p>

  <p class="buttonWrapper">
    <button class="ctaButton" onclick="location.href='https://gum.co/pbtips';">Compra el libro</button>
  </p>

  <br>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-example3.png" alt="Another code snippet from our book, yes Python is most common!" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <br><br>

</body>
</html>
