<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Developer Tools Workshop</title>
  <meta name="description" content="PyBites Tech Blog Training">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>The Best Investment As a Developer ...</h1>

  <p><i>Developer A: "How could this happen? You were resting all day!" Developer B says: "I wasn’t resting. I was sharpening my saw."</i></p>

  <p>In the coming hour you can literally DOUBLE your productivity!</p>

  <p>We created this training distilling 15 years of <strong>dev tooling</strong> experience which will get you to focus on the 80/20 that really matters:</p>

  <p>You will learn:<ol>
    <li>That there is so much <strong>more than just Python</strong> in order to become proficient as a developer, and some of the tools / skills are "softer" than you might think ...</li>
    <li>The surprisingly congruent answer of <strong>what our community thinks is the best tool</strong> to invest your learning time in ...</li>
    <li>How investing in your toolset daily will have <strong>a compound effect</strong>, paying huge dividends, which even goes far beyond your own productivity ...</li>
    <li>How we use some of the tools every day (<strong>live demos</strong>) ...</li>
    </ol>
  </p>

  <p>Einstein considered <i>compound interest</i> to be <strong>the most powerful force</strong> in the universe, and now you can apply this to your Python dev skills watching our <i>Developer Tools Workshop</i>! Just grab a coffee, put your feet up, relax, and watch our training below ...</p>

  <p>- Bob and Julian (PyBites)</p>

  <div class="vimeo-space">
    <iframe src="https://player.vimeo.com/video/453795298" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p><a href="https://www.dropbox.com/s/p4vbkfa11drxs5z/pybites-developer-workshop.pdf?dl=0" target="_blank">Here</a> is the presentation with all the mentioned tools and links.</a></p>
  <p class="buttonWrapper">
    <a href="https://pybit.es/pages/apply" class="button" target="_blank">Work With Us</a>
  </p>

  <script src="https://player.vimeo.com/api/player.js"></script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '204929054292880');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=204929054292880&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</body>
</html>
