<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Entrepreneur Lessons</title>
  <meta name="description" content="PyBites Entrepreneur Lessons">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>Your Ticket to a Greater Contribution and More Freedom</h1>

  <p>Ever since we read Tim Ferriss' <i>4 hour workweek</i> we knew <strong>running a business</strong> was something we wanted to end up doing.</p>

  <p>It's one of the most fulfilling things you can do, but also one of the hardest things you will ever do!</p>

  <p>However if you are passionate about helping other people succeed you already won half of the battle.</p>

  <p>The other important thing to realize is that becoming an entrepreneur / creating a business <strong>you can do this at scale</strong>.</p>

  <p>In the training below we share <strong>5 lessons we learned building PyBites</strong>. We hope this will inspire and convince you that this is actually a pretty attainable goal!</p>

  <p>Watch it, then <strong>go take action</strong>. And if you want some advice and/or build out your business app idea with our help, book a call below.</p>

  <p>Best,<br>Bob and Julian from PyBites</p>

  <div class="vimeo-space">
    <iframe src="https://player.vimeo.com/video/521550241" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">I'd like some guidance</button>
  </p>

  <script src="https://player.vimeo.com/api/player.js"></script>
  <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>

</body>
</html>
