<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Friends List</title>
  <meta name="description" content="PyBites Friends List">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>Join Our Friends List And Get Free Golden Nuggets Every Week</h1>

  <p>Get valuable PyBites content in your inbox every week, totally for free.</p>

  <div class="_form_1"></div><script src="https://pybit.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8"></script>

  <p><img src="https://pybites-screenshots.s3.eu-west-3.amazonaws.com/pb-email1.png" alt="example email 1" style="width: 800px;"></p>

  <p>You might be wondering: "Another email list?"</p>

  <p>Ours is vastly different though:
    <ul>
      <li>First of all we curate some of the best Python content so you don't have to suffer from the <i>paradox of choice</i>.</li>
      <li>But we don't stop there, we also talk about software development, career, mindset, books we read, and much more ...</li>
      <li>We put a lot of value and care in our emails, so expect them to be dense and high value.</li>
      <li>These are not colorful, spammy marketing emails, expect concise, punchy emails, Python style ;)</li>
      <li>Our primary goal is to help you, that's always our aim, even if we pitch something.</li>
      <li>First and foremost we want to start a <strong>conversation</strong> with you. This is not a (passive) one way street, we want to actively <strong>engage</strong> with you.</li>
      <li>We are obsessed with helping YOU reach excellence at work and in your life. That's why you can expect us to ask you candid questions about what is holding you back and how we can better serve you. We are students of life and believe we can learn a lot from you as well. So expect a lot of conversation starters ...</li>
    </ul>
  </p>

  <p>So in summary, expect a constant stream of high value content that will help you grow as a Pythonista, software developer, and human being.</p>

  <p>But also expect it to be the kind of email a friend would send you. Because again, we just want to be in touch, learn from you, hear how you use Python at work, what your goals are and see if we can collaborate somewhere. Hence this is not just <i>a list</i>, we actually hate calling it that, so that's why it's the <i>PyBites Friends List</i>.</li>

  <p><img src="https://pybites-screenshots.s3.eu-west-3.amazonaws.com/pb-email2.png" alt="example email 2" style="width: 800px;"></p>

  <p>Does that sound exciting to you? Then subscribe below and we hope to chat with you soon.</p>

  <p>To express our gratitude for subscribing, we'll send a little GIFT as well, just stay tuned ...</p>

  <p>Can't wait to get to know you!</p>

  <p>- Bob and Julian (PyBites)</p>

  <p><img src="https://pybites-screenshots.s3.eu-west-3.amazonaws.com/pb-email3.png" alt="example email 3" style="width: 800px;"></p>

  <div class="_form_1"></div><script src="https://pybit.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8"></script>

  <br><br>
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '767652523960315');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=767652523960315&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</body>
</html>
