<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Github Pull Request Training</title>
  <meta name="description" content="PyBites Confidence Training">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>It's Time to Start Contributing to Open Source</h1>

  <p>As we write this it's October 2020 and that means it's <a href="https://hacktoberfest.digitalocean.com/" target="_blank">Hacktoberfest</a> again.</p>

  <p>The goal for your this month to open <strong>4 <i>valid</i> pull requests</strong>, getting your code out there, giving back to the community.</p>

  <p>But wait ... What is a valid PR though? How to be confident enough to do this? What projects to contribute to? And how to tactically go about opening a Pull Request?</p>

  <p>No worries, PyBites has you covered! In this training you will learn all that and more.</p>

  <p>We'd be super stoked if this training actually makes you take this critical step in your developer career. For us our first couple of pull requests (and reviews) marked a clear <i>before and after</i> in our developer careers.</p>

  <p>Don't let this opportunity pass by, take action today:</p>

  <div class="vimeo-space">
    <iframe src="https://player.vimeo.com/video/465520886" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Book a Strategy Session</button>
  </p>

  <script src="https://player.vimeo.com/api/player.js"></script>
  <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>

</body>
</html>
