<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Marketing Training</title>
  <meta name="description" content="PyBites Marketing Training">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>How Marketable Are You?</h1>

  <p>One of the common mistakes we see is people taking their careers for granted.</p>
  
  <p>Which leads to stagnation and feeling undervalued and frustrated.</p>

  <p>Before you can expect to feel more valued at work, you have to build up YOUR ASSET.</p>

  <p>Start to build a SYSTEM that makes opportunity come your way ...</p>

  <div class="vimeo-space">
    <iframe src="https://player.vimeo.com/video/408786016" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Book a Strategy Session</button>
  </p>

  <script src="https://player.vimeo.com/api/player.js"></script>
  <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>

</body>
</html>
