<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites 80/20 Training</title>
  <meta name="description" content="PyBites 80/20 Training">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>How to REALLY Accelerate Your Python</h1>

  <h2>Become laser focused by tweaking just a few simple things ...</h2>

  <p>Stephen R. Covey said: "If the ladder is not leaning against the right wall, every step we take just gets us to the wrong place faster."</p>

  <p>So let's pause and reflect for a little bit and look at the <i>pitfalls</i> you want to avoid as well as the <i>80/20</i> that will boost your efficiency in Python.</p>

  <p>We put this together based on common misbeliefs we see and, drawing from our experience, what has really worked for us, our community and our clients. Now is a good time to grab a coffee, then let the below inspire you and take action!</p>

  <h3>Pitfall #1: Tutorial paralysis</h3>

  <p>Tutorial Paralysis, information overload, hoarding and never completing online courses (How large are your Udemy and Coursera libraries?)...</p>

  <p>This is the pain we're hearing from you and it's more common than you may realise.</p>

  <p>It's real, it's crippling and it can make you feel like you're going nowhere.</p>

  <p>Even if you do manage to complete a course, is it what you needed? What next? Another course? Then what?</p>

  <p>The reality is that nothing beats actual coding and implementing. The sooner you write code and FAIL the better.</p>
  
  <p>We are so passionate about this common pitfall we could write a book about it, but there is more ...</p>

  <h3>Pitfall #2: Improper sequencing</h3>

  <p>Somewhat related to tutorial paralysis, you not only need to do the right things, you also need to do them in the appropriate order.</p>

  <p>Take dev job hunting for example. Some people get overly obsessed over the coding interview and knuckle down on <i>Cracking the Coding Interview</i> (almost 700 pages) or spend 40 hours on a bunch of algorithm courses.</p>

  <p>Don't get us wrong, there is a time and place for those. You need to know data structures and algorithms. However, in order to succeed as a software developer there are many more things that matter.</p>

  <p>Should you care about making the site 10% faster if you're not even sure what the target audience wants? In other words, make the tool that people actually desire first, then worry about making it pretty.</p>

  <h3>Pitfall #3: Obsessing over Pythonic code</h3>

  <p>That perfectionism ties nicely into this pitfall: <i>My code is not Pythonic</i>.</p>

  <p>Neither was ours when we started. It only became more Pythonic over the years, after reading a lot of quality code and making many coding mistakes along the way!</p>

  <p>Besides, as important as it is to know how to effectively use Python constructs and write Pythonic code, you should invest equally in learning about software best practices: use meaningful variable names, use proper scoping, write short and testable functions, modular code, performant code, and reach a point where your code is self explanatory.</p>

  <p>Again, this comes with experience and working with people that have gone down this path before.</p>

  <h3>Pitfall #4: Going on your own for too long</h3>

  <p>You can lose a lot of time and prevent a lot of headaches by engaging with the right experts.</p>

  <p>Imagine the lost opportunity by not doing so. What takes you months to learn, you can condense to mere weeks by downloading the accumulated knowledge from developers that have honed their craft for a long time (a bit like the Matrix).</p>

  <p>We can relate to this. When we started our careers, we hit ceilings at some points, growth stalled, motivation waned.</p>

  <p>Once we sought out more expert teams and leaders, we had a new challenge. New levels do lead to new devils though. It was scary, but we boosted our growth in an unprecedented way.</p>

  <p>If you're comfortable for too long, alarm bells should start going off, as you’re likely not growing enough!</p>

  <hr>

  <p>Now that you know what to avoid, let's dive into what you should focus on to become a well-rounded developer, be it in a software developer job, as an automation engineer, a domain expert or becoming the CTO of your own SAAS company.</p>

  <p>The following 4 things apply equally and will make you wake up a year from now feeling like a different person ...</p>

  <h3>80/20 Rule #1: Work on bigger projects</h3>

  <p>We are all about Bite sized learning. After all, we have almost 300 exercises you can sink your teeth into that will make you proficient at Python.</p>

  <p>But that is only half of the battle. In order to really grow as a programmer you have to work on bigger projects.</p>

  <p>Doing so forces you to solve more difficult problems. It forces you outside of your comfort zone, gets you into the realm of software design and makes you think about scalability, performance, maintainability, abstraction, and reusability.</p>

  <p>It also makes you more familiar with the tools of the trade: git, Github, testing, deployment, and of course the wider open source community.</p>

  <h3>80/20 Rule #2: Build a portfolio</h3>

  <p>Writing elegant code is one thing. Build it and they'll come. Well not exactly. With so many developers out there, if you want to stand out, you need to get noticed.</p>

  <p>So get your stuff out there. Blog or post weekly about what you learn (this is literally <a href="https://pybit.es/archives.html" target="_blank">how we started</a>). Push things to your Github (aka <i>the developer's resume</i>). Get actual users to use your apps.</p>

  <p>You don't write software in a silo. You do this to solve a problem or pain, to help other people. So get feedback from your audience early and iterate fast. Become an effective communicator.</p>

  <h3>80/20 Rule #3: Work with experienced developers</h3>

  <p>Jim Rohn (and Tony Robbins) said: "success leaves clues". This really resonated with us, because now more than ever before we have access to the valuable lessons of the greats in any field.</p>

  <p>We definitely contribute things we achieve as developers and in life thanks to the lessons learned from people that inspire us. Isn't it amazing how you can capitalize on the mistakes they made and leverage the tuition they paid, to get ahead yourself?</p>

  <p>You will hit roadblocks and ceilings every step along the way, not just when you’re starting out. At those moments you can either give up or push through and make those old ceilings new floors. The way to shortcut this is to seek experts early and emulate what they do.</p>

  <p>So work with highly skilled/ experienced people that are at least one step ahead. A great way to have instant access to over 2,000 Pythonistas is by joining <a href="https://pybit.es/pages/community.html" target="_blank">our PyBites Community</a>.</p>

  <h3>80/20 Rule #4: Become a content provider</h3>

  <p>Become an ace at documenting your learning. The reason to do so is 3 fold:<ol>
    <li>It's too easy to forget, you will save a ton of time and become that effective developer people highly respect.</li>
    <li>It increases your writing and communication skills.</li>
    <li>Becoming a content provider opens up new avenues and opportunities you could not even have envisioned.</li>
  </ol></p>

  <p>As mentioned before we started with literally nothing more than a Python blog. One in a million (ok we did not count them but go to <a href="https://planetpython.org/" target="_blank">Planet Python</a> and you'll see that there are so many!)</p>

  <p>But one day we started to shift focus, we branched out (to use git terminology). We challenged each other to solve coding problems, and then and there our <i>code challenges</i> niche was born.</p>  

  <p>That led to further exploration of that idea using the 100 days of code which we used to build 100 scripts in 100 days.</p>

  <p>That got us <a href="https://talkpython.fm/episodes/show/140/level-up-your-python-with-100daysofcode-challenge" target="_blank">on the Talk Python podcast</a> and led to our collaboration with Mike producing two 100 days of code courses.</p>

  <p>Not only that, but having a body of posts, challenges and 100 days scripts, it was relatively easy to come up with content.</p>

  <p>We don't say this to brag, we say this because it is possible if you take action and start putting yourself out there! Failure does not exist because even if you fail in your early attempts, you will learn valuable lessons!</p>

  <p>When you start to produce your body of content you start to develop an asset that you can leverage over time. It will set yourself apart from the crowd, and it boosts your learning, because there is nothing like teaching something to really understand it.</p>

  <p>As Einstein said: "If you can't explain it to a six year old, you don't understand it yourself." - so to become an expert that can demand high fees in the market, becoming a content provider is one of the most important skills you can develop.</p>

  <hr>

  <p>We hope these pitfalls and our PyBites 80/20 rules have been useful to you.</p>

  <p>To accelerate your career by building real-world Python projects, join our coaching program.</p>

  <p class="buttonWrapper">
    <a href="https://pybit.es/pages/apply" target="_blank" class="button">Book a Strategy Session</a>
  </p>

</body>
</html>
