<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Pareto Training</title>
  <meta name="description" content="PyBites Pareto Training">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>The 80/20 of Becoming a Python Expert (it's easier than you might think)</h1>

  <h2>4 Common Pitfalls to Avoid, 4 80/20 Rules to Embrace</h2>

  <p>Stephen R. Covey said: <i>If the ladder is not leaning against the right wall, every step we take just gets us to the wrong place faster.</i></p>

  <p>Nothing is more true for becoming proficient at Python and software development.</p>

  <p>Let's pause and reflect and look at the <i>pitfalls</i> you want to avoid and the <i>80/20</i> that will make you an effective Pythonista.</p>

  <p>We put this together based on common misconceptions talking to hundreds of people in our community and drawing from our own experience.</p>

  <p>So grab some coffee and let's dive in ...</p>

  <h3>Pitfall #1: Tutorial paralysis</h3>

  <p>Information overload, hoarding and never completing online courses (How large are your Udemy and Coursera libraries?)...</p>

  <p>This is a common pain we often hear and it can be crippling, making you feel you're going in circles.</p>

  <p>Even if you do manage to complete some courses, you don't feel it contributed much in becoming a better programmer.</p>

  <p>The reality is that nothing beats <strong>actual coding and implementing</strong>. The sooner you write code (and fail) the better.</p>
  
  <p>We are so passionate about this common pitfall we could write an entire book about it, but there is more ...</p>

  <h3>Pitfall #2: Improper sequencing</h3>

  <p>Somewhat related to tutorial paralysis, you not only need to do the right things, you also need to do them in the appropriate order.</p>

  <p>Take dev job hunting for example. Some people get overly obsessed over the coding interview and knuckle down on the <i>Cracking the Coding Interview</i> 700 pager, or spend endless hours on algorithm courses.</p>

  <p>Don't get us wrong, data structures and algorithms are important. However, in order to succeed as a software developer there are many more things that matter.</p>

  <p>Another example is early optimization. Engineers at heart, we love to endlessly tweak and improve the performance of our solutions, but did we actually ship the code for starters, getting feedback from real users?</p>

  <p>Being a developer requires a certain dose of pragmatism and often getting something working is more important than getting it perfect (which by the way does not exist).</p>

  <h3>Pitfall #3: Obsessing over Pythonic code</h3>

  <p>This perfectionism is a nice segue into this next pitfall: "<i>My code is not Pythonic (enough)</i>".</p>

  <p>Neither was ours when we started. It only became more idiomatic learning from mistakes, studying more parts of Python's humongous standard library, and via code review feedback.</p>

  <p>Besides, as important as it is to know how to effectively use Python, you should equally invest in learning about <strong>software best practices</strong>, e.g. use meaningful variable names, proper scoping, writing modular / testable / self-explanatory code, etc.</p>

  <p>Again, this comes with experience and working with others as we'll see next.</p>

  <h3>Pitfall #4: Going on your own for too long</h3>

  <p>As Jim Rohn said: <i>success leaves clues</i>. You can save a lot of time engaging with expert Pythonistas.</p>

  <p>Imagine the opportunity cost of not doing so. What takes you months to learn on your own, you can now learn in weeks, because other developers have walked the path before you.</p>

  <p>We can relate to this. When we started our careers, we hit ceilings (we still do of course), growth stalled, motivation waned.</p>

  <p>Once we sought out more expert teams and leaders, we faced new challenges (<i>new levels, new devils</i>), but at least we knew what to work on.</p>

  <p>Condensing the accumulated knowledge from good developers/ mentors can reduce to mere weeks what would you have costed you months.</p>

  <p>Or it can even make you work on things you had not even envisioned, because sometimes you don't know what you don't know (this is huge!)</p>

  <p>How to measure this? If you're comfortable for too long, you’re likely not growing enough! The gym offers great analogies here: muscles won't grow without (progressive) overload/ stress.</p>

  <hr style="border: 1px solid #ddd;">

  <p>Now that you know what to watch out for, let's dive into what you should focus on to become a <strong>well-rounded Python developer</strong>:</p>

  <h3>80/20 Rule #1: Work on bigger projects</h3>

  <p>We are all about <i>eating the elephant a Bite at a time</i> (our exercises are called Bites of Py for a reason).</p>

  <p>Exercising has a crucial place, specially when you start out grasping the foundations of Python.</p>

  <p>But after that the difference between a "scripter" and a real developer is the <strong>size of the projects</strong> they work on.</p>

  <p>Working on bigger projects forces you to solve more difficult problems, you'll have to move outside of your comfort zone, you'll move into the realm of software design and you'll gain a more holistic understanding of what it means to write software.</p>

  <p>Which inevitably forces you to learn all the <strong>developer tools</strong> the typical Python developer uses: the command line, Vim or a powerful IDE, git / Github, pytest (CI), PyPI (packing), Docker, SQL, a web framework (e.g. Flask or Django), etc.</p>

  <h3>80/20 Rule #2: Build a portfolio</h3>

  <p>Writing elegant code is one thing. Well, <i>build it and they'll come</i>, right?</p>

  <p>Well not exactly. With so many developers out there, if you want to stand out, you need to get noticed.</p>

  <p>And if you've not worked as a professional developer, you're actually in a chicken-and-egg situation: they want experience, but you don't have any ...</p>

  <p>So you need to drop the tutorials and start building and shipping code. Push your apps to Github, get code critique, see if you can collaborate on other projects, etc.</p>

  <p>The other side is to give back and teach what you've learned. Not only is this a major selling point, you'll also gain a much better understanding of programming concepts and thus perform better in an interview or presentation.</p>

  <p>We really believe that being a developer is as much about code / engineering as it is about effective communication!</p>

  <h3>80/20 Rule #3: Work with experienced developers</h3>

  <p>Remember what Jim Rohn said? It bears repeating: <i>success leaves clues</i>.</p>

  <p>We are really fortunate we have the Internet these days! Anything can be looked up in seconds and you can reach out to experts on the other side of the planet.</p>

  <p>Some important lessons we've learned as developers (and in life), we can contribute to the lessons learned from people that inspired us (and we never met face to face!)</p>

  <p>It's fascinating actually that you can learn from mistakes others made and generously shared. This is definitely worth paying some tuition for.</p>

  <p>You are going to hit roadblocks and ceilings every step along the way. It can be hard and discouraging.</p>

  <p>At those moments you can either give up or seek experts asking them for advice and emulate what worked for them.</p>

  <h3>80/20 Rule #4: Become a content provider</h3>

  <p>Become an ace at documenting your learning. The reason to do so is 3 fold:<ol>
    <li>It's too easy to forget, you will save a ton of time and therefor become a more efficient developer.</li>
    <li>It increases your writing and communication skills which is super important because of the amount of communication involved (personal and in code) as a developer.</li>
    <li>Becoming a content provider opens up an amount of avenues and opportunities over time you could not even have envisioned (read <i>The Compound Effect</i> book).</li>
  </ol></p>

  <p>Did you know we started PyBites as "just" a Python blog? It was the end of 2016 and there was not a shortage of Python blogs out there.</p>

  <p>But we said to ourselves: if it only serves a dozen of people in the first months and it cements our learning, it will be totally worth it!</p>

  <p>Then something interesting happened: we discovered that there was a niche in practical problem solving in Python and we jumped on it.</p>

  <p>Which led to 60+ blog code challenges, developing a coding platform hosting 300+ exercises, producing 2 #100DaysOfCode courses (@ Talk Python) and developing a coaching program.</p>

  <p>We don't say this to brag, the point is that you have to <strong>produce</strong> and launch things to the market. Not only as a business, equally so as a developer / professional.</p>

  <p>You have to start building <strong>your growing asset</strong>.</p>

  <hr style="border: 1px solid #ddd;">

  <p>We like what Brian Tracy said in this context: <i>You are the CEO of your own company</i>.</p>

  <p>Remember, failure only exists if you tell yourself so. We prefer to believe that if we fail we learn a valuable lesson and we'll come back stronger!</p>

  <h3>Conclusion and next step</h3>

  <p>So to sum it up in one line: start solve bigger problems with Python, build up your portfolio, learn from more experienced developers, and become a content provider.</p>

  <p>Doing these 4 things consistently and you will become unstoppable!</p>

  <p>We hope these pitfalls and our 80/20 has been insightful for you. If you want to go a bit deeper, exploring how you could apply these principles to your situation, hop on a <strong>strategy session</strong> with us.</p>

  <p>We'd love to get to know you a bit better and see how we can help you becoming a succesful Pythonista and software developer:</p>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Book a call!</button>
  </p>

  <br><br>

  <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>

</body>
</html>
