<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Book a call with us</title>
  <meta name="description" content="PyBites Strategy Session">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>Book a Strategy Session with us</h1>

  <p>Let's deep dive into your Python career:</p>

    <!-- ScheduleOnce embed START -->
  <div id="SOIDIV_pybites" data-so-page="pybites" data-height="510" data-style="width: 80%;" data-psz="00"></div>
  <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>
  <!-- ScheduleOnce embed END -->

</body>
</html>
