<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Productivity</title>
  <meta name="description" content="PyBites Productivity">
  <meta name="author" content="PyBites">

  <meta name="twitter:card" content="PyBites Productivity" />
  <meta name="twitter:site" content="@pybites" />
  <meta name="twitter:creator" content="@pybites" />

  <meta http-equiv="refresh" content="0; URL=https://members.pybit.es/offers/3YM2CTby/checkout" />

  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
  <style>
  body.landingPage {
    background-color: #fff;
  }

  body.landingPage::after {
      content: "";
      background-image: url(https://pybites-tips.s3.eu-central-1.amazonaws.com/pybites-circuit-bg.jpg);
      background-size: cover;
      opacity: 0.05;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
  }
  </style>
</head>

<body class="landingPage">
  <h1>You will be redirected to our Productivity Course page</h1>
</body>
</html>
