<div id="pbproducts">
  <h3>PyBites Python Tips</h3>
  <div>
    <p>Do you want to get <strong>200+ concise and applicable Python tips</strong> in an ebook that will cost you less than 10 bucks (future updates included), check it out <a href="https://gumroad.com/l/pbtips" target="_blank">here</a>.</p>
    <p>
      <a href="https://gumroad.com/l/pbtips" target="_blank">
        <img src="https://codechalleng.es/static/img/tips-book-thumb.07692e3ba331.png" alt="Get our Python Tips Book">
      </a>
    </p>

    <div id="testimonials">
      <p><i>"The discussions are succinct yet thorough enough to give you a solid grasp of the particular problem. I just wish I would have had this book when I started learning Python." - Daniel H </i></p>
      <p><i>"Bob and Julian are the masters at aggregating these small snippets of code that can really make certain aspects of coding easier." - Jesse B </i></p>
      <p><i>"This is now my favourite first Python go-to reference." - Anthony L </i></p>
      <p><i>"Do you ever go on one of those cooking websites for a recipe and have to scroll for what feels like an eternity to get to the ingredients and the 4 steps the recipe actually takes? This is the opposite of that." - Sergio S </i></p>
      <p class="buttonWrapper">
        <a class="button" href="https://gumroad.com/l/pbtips" target="_blank">
          Get the book
        </a>
      </p>
    </div>
  </div>
</div>
