<h2>More from PyBites ...</h2>
<div id="pbproducts">
  <div>
    <h3>PyBites Python Tips</h3>
    <p>Do you want to get 200+ concise and applicable Python tips in an ebook that will cost you less than 10 bucks (future updates included), check it out here:</p>
    <p>
     <img src="https://codechalleng.es/static/img/tips-book-thumb.07692e3ba331.png" alt="Get our Python Tips Book">
    </p>
    <p><i>"Bob and Julian are the masters at aggregating these small snippets of code that can really make certain aspects of coding easier." - Jesse B</i></p>
    <p><i>"This is now my favourite first Python go-to reference." - Anthony L</i></p>
    <p class="buttonWrapper">
      <a class="button" href="https://gumroad.com/l/pbtips" target="_blank">
        Get the book
      </a>
    </p>
  </div>

  <div>
    <h3>Become a Python Ninja</h3>
    <p>Do you want to master Python in a fast paced environment? Maybe you are preparing for a Python coding interview?</p>
    <p>Binge code 320+ Python exercises and become proficient fast!</p>
    <p>
      <img src="https://codechalleng.es/static/img/honors/unlock_red.0c53635c2631.png" alt="Become a Python Ninja">
    </p>
    <p><i>"PyBites exercises are a fantastic way to learn by doing. I've gained much more experience and confidence in my coding doing the bites on this site than I have in a couple of years of using books and video tutorials. " - Rebecca M</i></p>
    <p><i>"I've found my first job as a Java/Python developer and I sincerely believe that it's thanks to my daily training on the PyBites platform." - Francois N</i></p>
    <p class="buttonWrapper">
      <a class="button" href="https://codechalleng.es/via/pybites" target="_blank">
        Start your free trial
      </a>
    </p>
  </div>

  <div>
    <h3>Code for 100 days straight</h3>
    <p>Because only ONE thing matters in becoming proficient in Python and that is to WRITE a lot of code, consistently!</p>
    <p>We are #100DaysOfCode survivors ourselves. This challenge was one of the best things we did in our PyBites journey and for our careers.</p>
    <p>Come join us, your Python will never be the same again!</p>
    <p>
      <a href="https://pybit.es/100days" target="_blank">
        <img src="https://pybit.es/images/100days-classic.png" alt="Code for 100 days straight">
      </a>
    </p>
    <p><i>"I learned SO much and can't thank @ pybites and @ talkpython enough! " - Ryan C</i></p>
    <p><i>"It is an outstanding survey of Python with plenty of great projects.  I learned a great deal in 100 days." - Mike F</i></p>
    <p class="buttonWrapper">
      <a class="button" href="https://pybit.es/100days" target="_blank">
        Get our course
      </a>
    </p>
  </div>

</div>
