<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stay tuned for more PyBites training ... </title>
  <meta name="description" content="Stay tuned for more PyBites training ...">
  <meta name="author" content="PyBites">
  <meta name="robots" content="noindex,nofollow">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>Stay tuned for more PyBites training ...</h1>

  <p>Thanks for your interest in our trainings. We'll deliver the requested training to your inbox soon ...</p>

  <p>Meanwhile to study some concise + Pythonic code snippets, <a href="https://pybit.es/tips">check out our Tips Book</a> and to pratice your Python skills + build up the daily coding HABIT, <a href="https://codechalleng.es">check out our Platform</a>.</p>

</body>
</html>
