<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stay tuned for some training ... </title>
  <meta name="description" content="Stay tuned for some training ...">
  <meta name="author" content="PyBites">
  <meta name="robots" content="noindex,nofollow">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>Stay tuned for some training ...</h1>

  <p>Thanks for your interest in more PyBites training. You'll get it delivered to your inbox soon ...</p>

  <p>Meanwhile to study some idiomatic Python, <a href="https://pybit.es/tips">check out our tips book</a> and to pratice your Python skills, <a href="https://codechalleng.es">code on our platform</p>.

</body>
</html>
