<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites | Python Career</title>
  <meta name="description" content="PyBites | Python Career">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">

  <h1>Let's talk about your Python Career ...</h1>

  <p>Hey there! We are Bob and Julian, both software developers, Python instructors, and career coaches.</p>

  <p>We co-founded PyBites 4 years ago working with hundreds of people around the globe taking them from beginner / intermediate coders to <strong>well-rounded, confident developers</strong>. Like them you can be:

  <ul>
    <li>Building fully fledged Flask and Django apps.</li>

    <li>Deploying your own or contributing to open source packages.</li>

    <li>Building out your portfolio and tech blog to become a thought leader in the industry.</li>

    <li>Landing a programming job you could not have dreamed of before working with us.</li>

    <li>Kicking off your own app or SAAS business.</li>
  </ul></p>

  <p>Today we want to help you get these same results.</p>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Tell me how!</button>
  </p>
  <br>

  <img src="https://pb-cc-avatars-private.s3.us-east-2.amazonaws.com/bob-and-julian-small.jpg" alt="Bob and Julian at Pycon" class="profilePicBig" style="width: 400px !important; clear: both; margin: 0 30px 10px 0 !important;">

  <p>Becoming a well-rounded developer can be hard, especially when you go it alone and don't get quick feedback loops from people that have done it before.</p>

  <p>This is where we come in. We've worked for the biggest companies on the planet, we built our business and coding platform, and a thriving developer community.</p>

  <p>A big part of this has been adopting <strong>the right mindset</strong> and consistently <strong>holding each other accountable</strong> to increasingly challenging goals.</p>

  <br>
  <p>We want to help you! <strong>Book a strategy session with us</strong> and we will get you unstuck. These might actually be the best 45 min you'll spend talking about your career this year.</p>

  <br>
  <p>Talk soon!<br>-- Bob & Julian</p>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Book a strategy session</button>
  </p>
  <br>

  <p class="inlineQuote">Thanks to the web dev knowledge I learned with you in the last weeks, I knew all important things and was able to discuss API design etc. with the other backend dev. - Robin B</p>

  <p class="inlineQuote">Julian and Bob not only guided me on what I needed to know but, as an unexpected bonus, taught me the skills and mindset I needed to be confident in myself and my coding ability. - Alex K</p>

  <p class="inlineQuote">I feel like I had a big win with confidence today. Today I reached out to the biggest Python groups on Facebook to promote my message. Bob and Julian's mentorship kicked my ass into gear and proved to me that my skills are ready to showcase to the world. - Ben M</p>

  <p class="inlineQuote">Bob and Julian have each given me valuable one-on-one attention and advice. Bob has carefully reviewed the most important items in my portfolio, and helped me to upgrade them significantly. Julian has guided me towards important resources that are letting me make full use of my natural abilities. - Andy J</p>

  <p class="inlineQuote">I seriously improved my coding and software design skills through the PyBites Developer Mindset Program. - Piotr R</p>

  <p class="inlineQuote">Julian, Bob and my fellow program members, I thank you so much for putting this together, attending and all adding your thoughts. I have truly improved and moved forward on my journey every day because of you. - Rhys P</p>

  <p class="inlineQuote">Most importantly though, I got rid of my imposter syndrome and learned the hooks to be successful as a developer from here on out. - Maciej J</p>

  <p class="inlineQuote">The confidence I gained by building actual web applications allowed me to reach out to other developers and start contributing to an important open source project. - Punit J</p>

  <p class="inlineQuote">We landed on a project that was something I was passionate about and through their mentorship helped to keep me on track, checking in on me, hopping on some co-coding sessions and answering questions when I got stuck. It was an immensely valuable experience that I am so thankful for. Coming out of the program I have a clear vision of where to go next, picked up great entrepreneurial skills, and ultimately feel much more confident that I can do this! - Aaron J</p>

  <p class="inlineQuote">I got up-to-speed with Python in record time. More importantly I became a critical thinker, developing a 360º view of my coding skills and how I could become more valuable to my current employer and the market. - Daniel S</p>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Become a Python developer</button>
  </p>

  <br><br><br>

  <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '767652523960315');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=767652523960315&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</body>
</html>
