<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Tech Blog Training</title>
  <meta name="description" content="PyBites Tech Blog Training">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>The One Thing Every Programmer Should Do ...</h1>

  <p>Do you have a Python blog?</p>

  <p>If you landed on this page the answer is probably <i>No</i>. But don't worry, we are going to fix this together ...</p>

  <p>When you are a programmer one of the most important seeds that you can plant and cultivate is a <strong>tech blog</strong>.</p>

  <p>It not only will shape your tech and communication skills, it will actually become your gravitational <strong>asset</strong> that will continuously attract opportunity.</p>

  <p>That is, <strong>people will reach out to you</strong> instead of the other way around.</p>

  <p>In the training below we will show you how to get a tech blog up and running in ~20 min using <a href="https://pages.github.com" target="_blank">Github Pages</a> and <a href="https://blog.getpelican.com" target="_blank">Pelican</a>.</p>

  <p>We will also cover <strong>what</strong> to write about and how PyBites started <i>as just a blog</i> and how we leveraged this vehicle to niche down and seek new opportunity.</p>

  <p>If you are not writing every day, now is better than never:<ol>
    <li>Go through the training below, don't just watch it though, follow along with us.</li>
    <li>Click the button below to email us: A. your newly created blog URL, B. 3 articles you are planning to write this month.</li>
  </ol>
  </p>

  <p>Get ready to take some serious action this month ... and remember: keep it fun as well!</p>

  <p>- Bob and Julian (PyBites)</p>

  <div class="vimeo-space">
    <iframe src="https://player.vimeo.com/video/444217346" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p class="buttonWrapper">
    <a href="https://forms.gle/oPFd7AAdgqYSY6Mr9" class="button" target="_blank">Tell Us What Action You Took</a>
  </p>

  <script src="https://player.vimeo.com/api/player.js"></script>

</body>
</html>
