<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome to PyBites</title>
  <meta name="description" content="Welcome to PyBites">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>Thanks for subscribing to our Friends List</h1>

  <p>We are super excited for you to join, expect some valuable Python / software dev / career / mindset content to come soon ...</p>

  <p>Make sure you add emails from <i>pybit.es</i> to your allowed list (or in case of Gmail drag the first email out your <i>Promotions</i> tab) to not miss a thing.</p>

  <p>To show our gratitude, we made a bundle of FREE trainings that will benefit you as a Python developer:<ul>
    <li><a href="http://pybit.es/workshop" target="_blank">PyBites Developer Workshop</a></li>
    <li><a href="https://vimeo.com/465520886/d47ba3a1be" target="_blank">PyBites Github Training</a></li>
    <li><a href="https://vimeo.com/408784077/628c8e5f0d" target="_blank">PyBites Open Source Training</a></li>
    <li><a href="https://pybit.es/devtools" target="_blank">PyBites Dev Tools Training</a></li>
    <li><a href="https://vimeo.com/534397924" target="_blank">PyBites Poetry Training</a></li>
    <li><a href="https://vimeo.com/408776932/ddcd8f9f7d" target="_blank">PyBites Mindset Training</a></li>
    <li><a href="https://pybit.es/confidence" target="_blank">PyBites Confidence Training</a></li>
  </ul></p>

  <p>We hope you enjoy these resources and stay tuned for more valuable content soon ...</p>

</body>
</html>
