<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <link href="https://cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="https://buildpythonapps.com/css/styles.css" rel="stylesheet">
    <script src="https://cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <title>PyBites Effective Developer Package</title>
    <meta name="description" content="PyBites Effective Developer Package">
    <meta name="author" content="PyBites">
    <meta name="robots" content="noindex,nofollow">

    <meta name="twitter:card" content="PyBites Effective Developer Package" />
    <meta name="twitter:site" content="@pybites" />
    <meta name="twitter:creator" content="@pybites" />

    <meta property="og:url" content="https://pybit.es/thanks" />
    <meta property="og:title" content="PyBites Effective Developer Package" />
    <meta property="og:description" content="Thanks for subscribing to our Friends List, check out our PyBites Effective Developer Package and a special offer ..." />
    <meta property="og:image" content="img/pybites-logo.png" />
    <style>
    .ingredient {
      height: 300px;
    }
    </style>
  </head>
  <body>
    <div class="mui-container">

      <div class="mui--text-center mui-row mui-col-md-12">
        <h1 class="mui--text-headline">Thanks for joining our Friends List, to express our gratitude here is our ...</h1>
        <h2 class="mui--text-display2"><strong>PyBites Effective Developer Package</strong></h2>
        <h3 class="mui--text-headline">Become a well-rounded developer ...</h3>
      </div>

      <div class="mui-row mui-col-md-12">
        <div class="mui-col-md-4 ingredient mui-panel">
          <h4 class="mui--text-subhead center">Better Python Developer Cheat Sheet</h4>
          <a href="https://pybites-news.s3.us-east-2.amazonaws.com/pybites_cheatsheet.pdf" target="_blank"><img style="width: 100%;" src="https://pybit.es/images/better-python-dev-cheatsheet.png"></a>
        </div>
        <div class="mui-col-md-4 ingredient mui-panel">
          <h4 class="mui--text-subhead center">Developer Tools Training</h4>
          <a href="https://pybit.es/devtools" target="_blank"><img style="width: 100%;" src="https://pybit.es/images/python-dev-tools.png"></a>
        </div>
        <div class="mui-col-md-4 ingredient mui-panel">
          <h4 class="mui--text-subhead center">Poetry Training</h4>
          <a href="https://vimeo.com/534397924" target="_blank"><img style="width: 100%;" src="https://pybit.es/images/poetry-training.png"></a>
        </div>
      </div>

      <div class="mui-row mui-col-md-12" style="background: #f2f2f2; padding: 20px;">
        <div class="mui-col-md-10">
          <p>In addition to this free material, we have a <strong>special offer</strong> for you ...</p>
          
          <p>You can now get our <a href="https://members.pybit.es/offers/mfFWRKHG?coupon_code=START_PYTHON" target="_blank">PyBites Introductory Bites Course</a> <strong>for 45% off</strong>!

          <p>In this hands-on course <strong>you'll learn how to solve problems using Python and do it the Pythonic way</strong>.</p>

          <p>This makes it an effective introduction to the language as well as to the <i>PyBites Platform</i>, which has turned hundreds of people into fluent Pythonistas.</p>

          <p><blockquote><i>As someone new Python, there's a lot of concepts that are big and very confusing to understand. This course gave me that extra "oomph" I didn't realize I needed! Each Intro Bite held my hand while explaining the logic and process of writing the code. I came out of this course with a deeper understanding of Python, along with a clearer idea of the potential of the language. - Sarah G</i></blockquote></p>

          <p>You can get this great deal <a href="https://members.pybit.es/offers/mfFWRKHG?coupon_code=START_PYTHON" target="_blank">using this discount link</a>.</p>

        </div>
        <div class="mui-col-md-2">
          <br><br>
          <img src="https://pybit.es/images/guarantee.png" alt="guarantee icon">
        </div>

        <div class="mui-col-md-10">
          <br><div class="mui-divider"></div><br>
          <p>Finally to not miss out on any of our emails add <i>pybit.es</i> to your email client's <i>allowed list</i> (or in case of Gmail drag our first email from the <i>Promotions</i> to the <i>Primary</i> tab). Expect some valuable Python / software dev / career / mindset content soon ...</p>
          </div>
        <div class="mui-col-md-2">
          <img src="https://pybit.es/images/logo.png" alt="pybites logo">
        </div>

      </div>

      <div class="mui-row mui-col-md-12">
        <div class="mui-col-md-4 ingredient mui-panel">
          <h4 class="mui--text-subhead center">Developer Workshop</h4>
          <a href="https://pybit.es/workshop" target="_blank"><img style="width: 100%;" src="https://pybit.es/images/our-system.png"></a>
        </div>
        <div class="mui-col-md-4 ingredient mui-panel">
          <h4 class="mui--text-subhead center">Open Source Overview</h4>
          <a href="https://vimeo.com/408784077/628c8e5f0d" target="_blank"><img style="width: 100%;" src="https://pybit.es/images/open-source-overview.png"></a>
        </div>
        <div class="mui-col-md-4 ingredient mui-panel">
          <h4 class="mui--text-subhead center">Mindset Training</h4>
          <a href="https://vimeo.com/408776932/ddcd8f9f7d" target="_blank"><img style="width: 100%;" src="https://pybit.es/images/pybites-mindset-traning.png"></a>
        </div>
      </div>

    </div>

  </body>
  <footer>
    <hr>
    <p class="marginBottomExtra">© <a href="https://pybit.es" target="_blank">PyBites</a> 2021+</p>
  </footer>

</html>
