<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Python Tips</title>
  <meta name="description" content="PyBites Python Tips">
  <meta name="author" content="PyBites">

  <meta name="twitter:card" content="PyBites Python Tips" />
  <meta name="twitter:site" content="@pybites" />
  <meta name="twitter:creator" content="@pybites" />

  <meta property="og:url" content="https://pybit.es/tips" />
  <meta property="og:title" content="PyBites Python Tips" />
  <meta property="og:description" content="Pythonista, how many Python tricks do you have up your sleeve? PyBites presents 100 bulletproof Python Tips that will instantly make you a better developer." />
  <meta property="og:image" content="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-3d-book-cover.png" />

  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
  <style>
  body.landingPage {
    background-color: #fff;
  }

  body.landingPage::after {
      content: "";
      background-image: url(https://pybites-tips.s3.eu-central-1.amazonaws.com/pybites-circuit-bg.jpg);
      background-size: cover;
      opacity: 0.05;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
  }
  </style>
</head>

<body class="landingPage">
  <h1>100 Bulletproof Python Tips That Will Instantly Make You A Better Developer</h1>

  <h2>Pythonista, how many Python tricks do you have up your sleeve?</h2>

  <p>Are you tired of reading through long tutorials where you've lost interest by the time you get to the actual code or meat of the subject?</p>

  <p>Are you so overwhelmed by the richness of the Python language that you're finding it difficult to learn the many different branches?</p>
  
  <p>Do you wonder how you can make your code more elegant, maintainable and Pythonic?</p>

  <p>This was certainly us when we started our Python journeys!</p>

  <p>One of Python's strengths is that while it's so deep and technical it's also a wonderful entry level programming language. This contrast though can be paralyzing for folks that want to go from doing things the “basic way” to doing things <i>the Python way</i>.</p>

  <p>There is an answer however and we have a solution that will once and for all make things more accessible for you. Read on to hear more... or just buy the book! We don't mind either way!</p>

  <h3>Enter ...</h3>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-3d-book-cover.png" alt="PyBites Tips book" style="width: 100%; max-width: 800px !important; margin: -80px auto -40px auto;">
  </p>

  <p>This book contains small, practical pieces of Python code that <strong>will boost your knowledge of the language</strong>.</p>

  <p class="buttonWrapper">
    <button class="ctaButton" onclick="location.href='https://gumroad.com/l/xRnOL';">Pre-order the book</button>
    <br><br>
    <span style="text-align: center;">
      <i>The book will be released on Thursday the 12th of November 2020.</i>
      <br>
    </span>
  </p>

  <p>We quickly realised that the sooner you start reading and applying code, the quicker you progress.</p>

  <p>As a result we've distilled almost 4 years of PyBites into a rich collection of tips that are insightful, practical, fun and presented in such a way that you can get straight to coding with them.</p>

  <p>You've probably seen some of these on social media in the last couple of years. They've helped thousands of developers worldwide improve their Python skills so we know they're good.</p>

  <p>These tips have reminded developers of Pythonic ways of doing things and why Python is such a great language to code in.</p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-davidc.png" alt="Learn how to code Pythonically" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <h3>What's inside?</h3>

  <p>Let's take a quick tour.</p>

  <p>Firstly, you can consume the book in any order. Just pick out the topics you want to learn about or need the most at any given time.</p>

  <p><strong>We're always trying to battle the widespread tutorial paralysis we commonly see in the industry. That is NOT the experience we want you to have with us.</strong></p>

  <h4>Construct dictionaries</h4>
  
  <p>Head over to page 14 and you will learn how to construct a dictionary from 2 iterables (<i>one of our favorite idioms</i>).</p>

  <h4>Powerful sorting options</h4>

  <p>On page 19 you will discover how to sort any sequence by a callable you define. Your sorting skills will never be the same again (<i>when Julian dreams about Pythonic code, you bet beautiful sorting is part of it</i>).</p>

  <h4>Sentiment analysis</h4>

  <p>On page 26 you will learn about an exciting module to do sentiment analysis on a bunch of tweets.</p>

  <p>Yes, these tips go far beyond Python's standard library. You'll even learn some Django.</p>

  <h4>Builtins you want to know about</h4>

  <p>We are showing you a lot of built-ins that will make your life easier and your code more idiomatic.</p>

  <p>Head over to page 30 to learn about two elegant one-liners thanks to <code>any</code> and <code>all</code>.</p>

  <h4>Getting help</h4>

  <p>On page 36 we show you some invaluable ways to inspect objects in Python, an unmissable skill for any Python developer.</p>

  <h4>Itertools</h4>

  <p>Starting page 40 you will find two recipes to make an infinite iterator followed by how to get all combinations from a list.</p>

  <h4>What's up with __main__?</h4>

  <p>We also care about the newer Pythonitas.</p>

  <p>If you've wondered what <code>if __name__ == "__main__"</code> is about, we've got you covered on page 57.</p>

  <h4>OOP techniques</h4>

  <p>A lot of folks we talk with see OOP as THE magic they need to know to become proficient at Python. And they are partly right.</p>

  <p>We have several tips that cover this. On page 49 you'll see that everything is an object in Python (<i>this haunts Bob's dreams at times, in a good way</i>).</p>

  <p>On pages 61 and 99 we talk about object representation and how it helps debugging.</p>

  <p>OOP is really everywhere in the language and on page 66 you see a different dict constructor at work.</p>

  <p>Or what about powerful <code>Path</code> (pathlib) methods which you'll see on page 69?</p>

  <p>On page 83 you'll learn about the <code>callable</code> and <code>getattr</code> built-ins, and similarly on 98 you will learn about <code>attrgetter</code> from the operator module.</p>

  <p>Finally, do a search on <i>class</i> and you will see quite a few of them.</p>

  <p>We hope this covers enough OOP for starters ;)</p>

  <h4>Tooling</h4>

  <p>We go beyond Python by showing you some powerful tools.</p>

  <p>Head over to page 70 to use json.tool to validate JSON.</p>

  <p>On page 71 we create a gif image using the imageio library.</p>

  <p>Then on page 78 you'll learn about the cool howdoi tool to search for code snippets using the command line.</p>

  <p>And on page 109 you will learn about Django extensions.</p>

  <h4>How __all__ can save you</h4>

  <p>We also think about people writing modules for other developers' consumption.</p>

  <p>On page 88 you will learn about a technique to encapsulate your code so that even somebody doing an <code>import *</code> won't see all your stuff ...</p>

  <h4>Robust testing techniques</h4>
  <p>We are keen on writing test code so expect to find pytest / testing related tips as well:</p>

  <ul>
    <li>On page 92 you will learn how to make your test code more DRY (don't repeat yourself)</li>
    <li>On page 93 you learn how to mock out web services in your tests (similarly on page 47 you will learn how to cache API calls).</li>
    <li>On page 100 you will learn about the <code>assert_called_with</code> method.</li>
    <li>On page 101 you will learn how to access an exception string caught by <code>pytest.raises</code>.</li>
    <li>And on page 106 you will learn about how to test datetimes.</li>
  </ul>

  <h4>Useful datetime methods</h4>

  <p>And speaking of datetimes, on page 53 we look at the calendar module which made it relatively easy to build our (Seinfeld) coding streak calendar on our platform.</p>

  <p>You will learn about fuzzy parsing using the powerful dateutil library on page 96.</p>

  <p>And you will learn about what day of the week, and what week of the year it is on pages 110 and 111.</p>

  <hr>

  <p>We hope you'll agree by now that there is a lot to learn.</p>

  <p>We're actually positively surprised we were able to fit this into just 117 pages!</p>

  <p>And as our tips are so practical, <strong>we cannot wait to see you putting all of this into your own code</strong>.</p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-example2.png" alt="Learn how to code Pythonically" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <h3>Exercises</h3>

  <p>This brings us to the exercising part.</p>

  <p>Where relevant we have linked exercises you can take on our coding platform.</p>

  <p>Remember: <strong>retention increases 3-5 fold when you put what you learn into practice</strong>.</p>

  <p>We even recommend you teach what you learn here to benefit from a 10X retention rate. </p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-example.png" alt="The tips have matching exercises to put into practice what you've just learned" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <h3>How our community experiences our tips</h3>

  <p>Our tips are widely acclaimed by the Python community as being revealing, helpful, insightful, Pythonic, practical (they can be implemented immediately in one's code base), and fun. </p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-chrisw.png" alt="Our tips are well received by our community" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <p>Somebody even said they are the cherries on our coding platform cake. 🍰</p>

  <p>The general consensus is that people became better Pythonistas by being exposed to these tips!</p>

  <h3>Try it yourself, at our risk</h3>

  <p>We believe so strongly in this book and the gold within that we're willing to take the full risk.</p>

  <p>If, after reading it, you find you've not learned at least 1 or 2 new things (within 30 days of purchase), <strong>we'll happily refund you the complete price of the book</strong>. No questions asked <i>AND</i> you get to keep the book.</p>

  <h3>Lock in future updates</h3>

  <p>But there's more! </p>

  <p>You're actually going to get many more tips over the coming months! </p>

  <p>Although the current collection of 100 tips is already profound and will surely help you up your game, by buying this product you will lock in any future updates, even as we increase the price.</p>

  <p>For your investment of $4.99 today, you will actually end up owning at least <strong>300 quality tips</strong> over the lifetime of the book. As we add more tips to the book though, we will be increasing the price so make sure you lock in your future updates at this introductory launch price.</p>

  <p class="buttonWrapper">
    <button class="ctaButton" onclick="location.href='https://gumroad.com/l/xRnOL';">Pre-order the book</button>
    <br><br>
    <span style="text-align: center;">
      <i>The book will be released on Thursday the 12th of November 2020.</i>
    </span>
  </p>

  <br>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-example3.png" alt="Another code snippet from our book, yes Python is most common!" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <br><br>

</body>
</html>
