<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Python Tips</title>
  <meta name="description" content="PyBites Python Tips">
  <meta name="author" content="PyBites">

  <meta name="twitter:card" content="PyBites Python Tips" />
  <meta name="twitter:site" content="@pybites" />
  <meta name="twitter:creator" content="@pybites" />

  <meta property="og:url" content="https://pybit.es/tips" />
  <meta property="og:title" content="PyBites Python Tips" />
  <meta property="og:description" content="Pythonista, how many Python tricks do you have up your sleeve? PyBites presents 150 bulletproof Python Tips that will instantly make you a better developer." />
  <meta property="og:image" content="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-3d-book-cover.png" />

  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
  <style>
  body.landingPage {
    background-color: #fff;
  }

  body.landingPage::after {
      content: "";
      background-image: url(https://pybites-tips.s3.eu-central-1.amazonaws.com/pybites-circuit-bg.jpg);
      background-size: cover;
      opacity: 0.05;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
  }
  </style>
</head>

<body class="landingPage">
  <h1>150 Bulletproof Python Tips That Will Instantly Make You A Better Developer</h1>

  <h2>Pythonista, how many Python tricks do you have up your sleeve?</h2>

  <p>Are you tired of reading through long tutorials where you've lost interest by the time you get to the actual code or meat of the subject?</p>

  <p>Are you so overwhelmed by the richness of the Python language that you're finding it difficult to learn the many different branches?</p>
  
  <p>Do you wonder how you can make your code more elegant, maintainable and Pythonic?</p>

  <p>This was certainly us when we started our Python journeys!</p>

  <p>One of Python's strengths is that while it's so deep and technical it's also a wonderful entry level programming language. This contrast though can be paralyzing for folks that want to go from doing things the “basic way” to doing things <i>the Python way</i>.</p>

  <p>There is an answer however and we have a solution that will once and for all make things more accessible for you. Read on to hear more... or just buy the book! We don't mind either way!</p>

  <h3>Enter ...</h3>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-3d-book-cover.png" alt="PyBites Tips book" style="width: 100%; max-width: 800px !important; margin: -80px auto -40px auto;">
  </p>

  <p>This book contains small, practical pieces of Python code that <strong>will boost your knowledge of the language</strong>.</p>

  <p class="buttonWrapper">
    <button class="ctaButton" onclick="location.href='https://gum.co/pbtips';">Buy the book</button>
    <br><br>
  </p>

  <p>We quickly realised that the sooner you start reading and applying code, the quicker you progress.</p>

  <p>As a result we've distilled almost 4 years of PyBites into a rich collection of tips that are insightful, practical, fun and presented in such a way that you can get straight to coding with them.</p>

  <p>You've probably seen some of these on social media in the last couple of years. They've helped thousands of developers worldwide improve their Python skills so we know they're good.</p>

  <p>These tips have reminded developers of Pythonic ways of doing things and why Python is such a great language to code in.</p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-davidc.png" alt="Learn how to code Pythonically" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <h3>What's inside?</h3>

  <p>Let's take a quick tour.</p>

  <p>Firstly, you can consume the book in any order. Just pick out the topics you want to learn about or need the most at any given time.</p>

  <p><strong>We're always trying to battle the widespread tutorial paralysis we commonly see in the industry. That is NOT the experience we want you to have with us.</strong></p>

  <h4>Construct dictionaries</h4>
  
  <p>Head over to page 18 and you will learn how to construct a dictionary from 2 iterables (<i>one of our favorite idioms</i>).</p>

  <h4>Powerful sorting options</h4>

  <p>On page 23 you will discover how to sort any sequence by a callable you define. Your sorting skills will never be the same again (<i>when Julian dreams about Pythonic code, you bet beautiful sorting is part of it</i>).</p>

  <h4>Sentiment analysis</h4>

  <p>On page 30 you will learn about an exciting module to do sentiment analysis on a bunch of tweets.</p>

  <p>Yes, these tips go far beyond Python's standard library. You'll even learn some Django.</p>

  <h4>Builtins you want to know about</h4>

  <p>We are showing you a lot of built-ins that will make your life easier and your code more idiomatic.</p>

  <p>Head over to page 34 to learn about two elegant one-liners thanks to <code>any</code> and <code>all</code>.</p>

  <h4>Getting help</h4>

  <p>On page 40 we show you some invaluable ways to inspect objects in Python, an unmissable skill for any Python developer.</p>

  <h4>Itertools</h4>

  <p>Starting page 44 you will find two recipes to make an infinite iterator followed by how to get all combinations from a list.</p>

  <p>This module is so awesome! It helps you combine sequences of different length (page 152), chain iterables (page 160), even slice a generator (page 164). The <code>itertools</code> module occurs in no less than 11 tips!</p>

  <h4>What's up with __main__?</h4>

  <p>We also care about the newer Pythonistas.</p>

  <p>If you've wondered what <code>if __name__ == "__main__"</code> is about, we've got you covered on page 61.</p>

  <h4>OOP techniques</h4>

  <p>A lot of folks we talk with see OOP as THE magic they need to know to become proficient at Python. And they are partly right.</p>

  <p>We have several tips that cover this. On page 53 you'll see that everything is an object in Python (<i>this haunts Bob's dreams at times, in a good way</i>).</p>

  <p>On pages 65 and 103 we talk about object representation and how it helps debugging. Talking about debugging, did you know that f-strings can help you with that? On page 135 you'll learn how ...</p>

  <p>OOP is really everywhere in the language and on page 70 you see a different <code>dict</code> constructor at work.</p>

  <p>Or what about powerful <code>Path</code> (<code>pathlib</code>) methods which you'll see on page 73?</p>

  <p>On page 87 you'll learn about the <code>callable</code> and <code>getattr</code> built-ins, and similarly on 102 you will learn about <code>attrgetter</code> from the <code>operator</code> module.</p>

  <p>You will live and breathe properties with tips 101 and 139!</p>

  <p>Finally, do a search on <i>class</i> and you will see quite a few of them.</p>

  <p>We hope this covers enough OOP for starters ;)</p>

  <h4>Tooling</h4>

  <p>We go beyond Python by showing you some powerful tools.</p>

  <p>Head over to page 74 to use <code>json.tool</code> to validate JSON.</p>

  <p>On page 75 we create a gif image using the <code>imageio</code> library.</p>

  <p>Then on page 82 you'll learn about the cool <code>howdoi</code> tool to search for code snippets using the command line.</p>

  <p>And on page 113 you will learn about <code>django-extensions</code>.</p>

  <h4>How __all__ can save you ...</h4>

  <p>We also think about people writing modules for other developers' consumption.</p>

  <p>On page 92 you will learn about a technique to encapsulate your code so that even somebody doing an <code>import *</code> won't see all your stuff ...</p>

  <h4>Robust testing techniques</h4>
  <p>We are keen on writing test code so expect to find <code>pytest</code> / testing related tips as well:</p>

  <ul>
    <li>On page 96 you will learn how to make your test code more DRY (don't repeat yourself)</li>
    <li>On page 97 you learn how to mock out web services in your tests (similarly on page 51 you will learn how to cache API calls).</li>
    <li>On page 104 you will learn about the <code>assert_called_with</code> method.</li>
    <li>On page 105 you will learn how to access an exception string caught by <code>pytest.raises</code>.</li>
    <li>On page 110 you will learn about how to test <code>datetime</code> objects.</li>
    <li>On page 145 you will learn about <code>pytest</code>'s killer feature: <strong>fixtures</strong>.</li>
    <li>And on page 155 you will learn how to tactically skip a test based on a condition.</li>
  </ul>

  <h4>Powerful data structures</h4>
  <p>Have you heard about the <code>collections</code> module?</p>

  <p>If not, time to get to know it! There are 8 tips dedicated to this awesome module.</p>

  <p>On page 29 (and 160) we'll meet the awe inspiring <code>Counter</code> container, on page 101 we show you when to use a <code>deque</code> over a <code>list</code>. Page 142 shows some of its wrappers to make your own data types. On page 158 you'll learn about <code>namedtuple</code>s. And last but not least tips 80 and 147 are dedicated to <code>defaultdict</code>s.</p> 

  <h4>Useful datetime methods</h4>

  <p>On page 57 we look at the <code>calendar</code> module which made it relatively easy to build our (Seinfeld) coding streak calendar on our platform.</p>

  <p>You will learn about fuzzy parsing using the powerful <code>dateutil</code> library on page 100.</p>

  <p>And you will learn about what day of the week, and what week of the year it is on pages 114 and 115.</p>

  <p>We use the powerful <code>timedelta</code> in tips 101 and 108. There are no less than 10 tips where we use <code>datetime</code>!</p>

  <h4>Speed up downloads</h4>

  <p>On pages 138-140 we'll introduce you to <code>concurrent.futures</code> speeding up web downloads tremendously. We'll use the <code>timeit</code> module to measure performance. And we round things off introducing you to a tool to make a beautiful progress bar.</p>

  <h4>Python 3.9 coverage</h4>

  <p>On pages 129-133 we got 4 tips dedicated to new Python 3.9 features. No more excuses: use the latest and greatest version of Python (as of the time of this writing)!</p>

  <h4>Generators</h4>

  <p>Well rounded Pythonistas know their generators :) - no worries, we got your back here too! On page 123 we share a date generator we still use today to create WINS files. And on page 163 you will learn about <code>yield from</code> for even more concise generators.</p>

  <h4>The Standard Library inside out!</h4>

  <p>After hitting the low hanging fruit, we go deeper and discover lesser known (or used) modules like <code>shlex</code>, <code>getpass</code>, <code>uuid</code>, <code>zipfile</code> and <code>operator</code>. Yes, you will learn Python inside out!</p>

  <hr>

  <p>We hope you'll agree by now that there is a lot to learn.</p>

  <p>We're actually positively surprised we were able to fit this into just 173 pages!</p>

  <p>And as our tips are so practical, <strong>we cannot wait to see you putting all of this into your own code</strong>.</p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-example2.png" alt="Learn how to code Pythonically" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <h3>Exercises</h3>

  <p>This brings us to the exercising part.</p>

  <p>Where relevant we have linked exercises you can take on our coding platform.</p>

  <p>Remember: <strong>retention increases 3-5 fold when you put what you learn into practice</strong>.</p>

  <p>We even recommend you teach what you learn here to benefit from a 10X retention rate. </p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-example.png" alt="The tips have matching exercises to put into practice what you've just learned" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <h3>How our community experiences our tips</h3>

  <p>Our tips are widely acclaimed by the Python community as being revealing, helpful, insightful, Pythonic, practical (they can be implemented immediately in one’s code base), and fun.</p>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-chrisw.png" alt="Our tips are well received by our community" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <p>"This is truly a vital addition to every Python programmers toolkit: bang up to date with tips that work correctly on the latest versions of Python. Each tip has appropriate references to online documentation if ever further elaboration is needed. Get out the shredder, you're not going to be short of kitty litter for some time after you rid yourself of all those old dated Python 2.7 hints and tips books: PyBites Python Tips is the premier collection of tips for today's Python. Buy it now: buy it twice and do a friend a favour!" - Geoff R</p>

  <p>"In terms of knowledge per dollar this is the best investment I've made in the past few years. This is honestly my favorite technical book. Do you ever go on one of those cooking websites for a recipe and have to scroll for what feels like an eternity to get to the ingredients and the 4 steps the recipe actually takes? This is the opposite of that. Each tip is one page: there's some code, an explanation and links to resources if you want to read more. It's not only all you need, it's all you want. I wish there were more books like this!" - Sergio S</p>

  <p>"Joining the PyBites Platform and utilizing the code challenges in the PyBites Python Tips book has increased my Python skill set is relatively short time while constantly keeping me challenged. Tip #73 helped me with pulling in multiple files to analyze data, a great opportunity to automate a repetitive task I perform on a daily basis. It's very empowering to work through the code challenges and be able to put them into real world practice. Thank you Bob and Julian for bringing together this amazing community!" - Beth B</p>

  <p>"They did it again. A new cool product! I enjoy everything PyBites does. Minimalistic approach and team work creates value! I read Bob's posts on Python tips and try to put in practice. When Bob and Julian announced their new book, I was so happy – no need to take screenshots as a madman! 😊 The best is that purchasing their book I could download the code and save it in my utils." - Alex K</p>

  <p>"I have been reading your new Python Tips book for a little while now, just one tip per day along my #100DaysofCode journey. I really love the crisp, practical examples and the links to further reading. The book was indeed a steal. Looking forward to more tips!" - Andreas J</p>

  <p>"The book is a great and handy reference covering a wide array of topics, from Python's standard library to 3rd party tools, such as <code>howdoi</code>, <code>requests</code> and <code>imagio</code>, just to name a few. The discussions are succinct yet thorough enough to give you a solid grasp of the particular problem. I just wish I would have had this book when I started learning Python." - Daniel H</p>

  <p>"The PyBites book has me saying, "oh, I used this", "this is new".  Great book, for me a Python newcomer and I'll be using it as a reference book!" - Israel L</p>

  <p>"I've learned so much from the PyBites Python Tips book. The book is full of little tips with concise, clear explanations on syntax and situations in which the content of the tips can be used. I am keeping a notebook of the tips and have already found that I have used and internalized some tips, they've just become part of my train of thought now. Right away, starting at tips two and three, I learned things that I now use all the time. Get this book if you want access to tips to make your code shorter and more Pythonic!" - Jesse B</p>

  <p>"The PyBites Python Tips book has been very helpful to me in my coding. Pythonistas of every skill level will find that a small investment of time, with this excellent book, will yield big dividends. Buy it now!” – Andrew J</p>

  <p>"Need some great, helpful tips? Want quick examples how to use itertools? I've been getting the PyBites tips through twitter for a long time. Now 100 of them (more to come) are easily accessible in this extremely affordable e-book. Great collection! Thanks!" - Bart H</p>

  <p>"This book should be in every Pythonista's arsenal, regardless if you're a professional developer or hobbyist. I use the PyBites Python Tips book daily during my lunchtime at work; I just open it up and pick a random tip to read. In just a few minutes, I will have:<ol>
    <li>grasped the idiomatic pythonic way of doing something, </li>
    <li>understood the explanation behind the tip and opened up a heap of suggested browser links to investigate more about the topic,</li>
    <li>typed out the few lines of code provided, cementing the knowledge gained, and finally,</li>
    <li>tested myself by applying it to solve a PyBites exercise.</li>
  </ol>The wealth of knowledge this book provides compounds daily and I've enjoyed learning about the Python built-in standard library and many 3rd party tools too, all in a very approachable and practical way. 
This is now my favourite first Python go-to reference. If you don't get this book, you're seriously missing out!" - Anthony L</p>

  <p>"You know all those tricks you pick up on the way to learning something? All those 'oh neat!' and 'I didn't know that' and 'that will save me a TON of time' tidbits that you accumulate along the way? Well Bob and Julian made an entire book out of their amazing python tips and it's fantastic! Flip to any page and you will learn something new and get an exercise to test out your new knowledge to boot!" - Chris W</p>

  <h3>Try it yourself, at our risk</h3>

  <p>We believe so strongly in this book and the gold within that we're willing to take the full risk.</p>

  <p>If, after reading it, you find you've not learned at least 1 or 2 new things (within 30 days of purchase), <strong>we'll happily refund you the complete price of the book</strong>. No questions asked <i>AND</i> you get to keep the book.</p>

  <h3>Lock in future updates</h3>

  <p>But there's more! </p>

  <p>You're actually going to get many more tips over the coming months! </p>

  <p>Although the current collection of 150 tips is already profound and will surely help you up your game, by buying this product you will lock in any future updates, even as we increase the price.</p>

  <p>For your investment of $5.99 USD today, you will actually end up owning <strong>300 quality tips</strong> over the lifetime of the book. As we add more tips to the book though, we will be increasing the price so make sure you lock in your future updates at this introductory launch price.</p>

  <p class="buttonWrapper">
    <button class="ctaButton" onclick="location.href='https://gum.co/pbtips';">Buy the book</button>
  </p>

  <br>

  <p style="text-align: center;">
    <img src="https://pybites-tips.s3.eu-central-1.amazonaws.com/tips-example3.png" alt="Another code snippet from our book, yes Python is most common!" style="width: 100%; max-width: 600px !important; margin: 20px auto;">
  </p>

  <br><br>

</body>
</html>
