<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Developer Workshop</title>
  <meta name="description" content="PyBites Developer Workshop">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>Lock in Your Next Promotion Using Python</h1>

  <p>Do you want to become that linchpin, the fixer, companies and clients call first? Then watch the video below ...</p>
  <div class="vimeo-space">
    <iframe src="https://player.vimeo.com/video/406125721" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p class="buttonWrapper">
    <a href="https://pybit.es/pages/apply.html?redirected=1" class="button">Work With Us</a>
  </p>

  <script src="https://player.vimeo.com/api/player.js"></script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '204929054292880');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=204929054292880&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</body>
</html>
