<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PyBites Developer Workshop</title>
  <meta name="description" content="PyBites Developer Workshop">
  <meta name="author" content="PyBites">
  <link href="../theme/css/all.min.css" rel="stylesheet">
  <link href="../theme/css/style.css" rel="stylesheet">
</head>

<body class="landingPage">
  <h1>Accelerate Your Career Using Python + a Developer Mindset</h1>

  <p>Are you stuck in a boring job that you want to walk away from but can't because it's paying the bills?</p>

  <p>Do you feel you are an advanced beginner or intermediate Pythonista, but you would not call yourself an <i>application developer</i>, because something is missing, a gap in your skill set, and you are not even 100% sure how to bridge it?</p>

  <p>Do you want to <strong>earn more</strong>, do <strong>more fulfilling work</strong> and have <strong>complete freedom</strong> over your schedule?</p>

  <p>Start planting the seed today by watching our <strong>Developer Workshop</strong>. You'll learn:<ul>
    <li>The common <strong>tech industry pitfalls</strong> that can seriously hold you back.</li>
    <li>What <strong>imposter syndrome</strong> is and how it can cripple you from getting out there, sharing your code and contributing to open source.</li>
    <li>How our <strong>pragmatic methodology</strong> will have you retain 9 times (!) more of what you learn.</li>
    <li>How <strong>Python is only a relatively small part</strong> of the whole picture and that <i>the other career accelerators</i> are less obvious than you might think ...</li>
    <li>How a Mark Twain quote <strong>changed everything</strong> for us ...</li>
    <li>How our <strong>surprisingly simple blueprint</strong> creates <i>well-rounded developers</i> ...</li>
  </ul></p>

  <div class="vimeo-space">
    <iframe src="https://player.vimeo.com/video/406125721" style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p class="buttonWrapper">
    <button id="SOIBTN_pybites" class="ctaButton" data-height="580" data-psz="00" data-so-page="pybites" data-delay="1">Book a Strategy Session</button>
  </p>

  <script src="https://player.vimeo.com/api/player.js"></script>
  <script type="text/javascript" src="https://cdn.oncehub.com/mergedjs/so.js"></script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '204929054292880');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=204929054292880&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</body>
</html>
